<extend name='Public/base'/>
<block name='body'>
    <div class="content">
        <div class="leftMenu">
            <ul>
                {$leftMenu}
            </ul>
            <div class="planBtn"><a class="button" href="goods_form.html" >商品添加</a></div>
        </div>
        <div class="rightContent">
        	<div class="queryBox">
            	<form action="{:U()}" method="post" id='myform'>
                	<div class="inputSelect">
                        <span>请选择商户查询：</span>
                        <select name='sellerNo'>
                         <option value="0">所有商户</option>
                        <volist name='sellers' id='vo'>
                           <option value="{$vo['id']}" <?php if($data['sellerNo']==$vo['id']){ ?>selected<?php }?>>{$vo['sellerName']}</option>
                        </volist>
                         </select>
                    </div>
                    <div class="inputText" >
                        <span>按商品编码查询</span>
                        <input type="text" name="id"  placeholder="请输入商品编码" value="{$data['id']}">
                    </div>
                    <div class="inputText" >
                        <span>按商品名称查询</span>
                        <input type="text" name="goodsName"  placeholder="请输入商品名称" value="{$data['goodsName']}">
                    </div>
                    
                    <a href="javascript:$('#myform').submit()" class="button">查询</a>
                </form>
            </div>
            <div class="tableList">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <thead>
                      <tr >
                        <td width="10%">商品编号</td>
                        <td width="20%">商品名称</td>
                        <td width="10%">售价</td>
                        <td width="10%">原价</td>
                        <td width="10%">商品详情</td>
                        <td width="15%">归属商店</td>
                        <td width="15%">归属影院</td>
                        <td width="20%">操作</td>
                      </tr>
                    </thead>
                     <tbody>
                     <volist name='goods' id='vo'>
                        <tr>
                            <td>{$vo['id']}</td>
                            <td>{$vo['goodsName']}</td>
                            <td>￥{$vo['price']}</td>
                            <td>￥30</td>
                            <td><a href="javascript:lookgoods({$vo['id']});">查看</a></td>
                            <td>{$vo['sellerName']}</td>
                            <td>{$vo['cinemaName']}</td>
                            <td><a href="{:U('goods_form',array('id'=>$vo['id']))}">修改</a>|<a href="javascript:del({$vo['id']});">删除</a></td>
                        </tr>
                        </volist>
                    </tbody>
                </table>
                <div class="pagination">
                
                <div class="page">
                    {$page}
                	
                </div>
                
            </div>
            </div>
        </div>
	</div>
<script type="text/javascript">
function lookgoods(){
	layer.open({
		title :'查看商品详情',
		type: 2,
		area: ['350px', '240px'],
		fix: false, //不固定
		maxmin: true,
		content: 'goods_info.html'
	});
}

function del(id){
	layer.confirm('确认是否删除？',function(index){
		$.get("<?php echo U('delGoods')?>",{id:id},function(data){
			if(data=='0'){
				layer.msg('删除成功');
				window.location.reload();
			}else{
				layer.msg('删除失败');
			}
		});
	})
}
</script> 
</block>