{% extends "template/new_block_body.html" %}

{% block begin %}
    <link rel="stylesheet" type="text/css" href="{{static_url('game'|ns_css)}}"/>
{% endblock %}

{% block title %}
游戏中心
{% endblock %}

{% block body %}
    <div class="wrapBd">
        <div class="w_1200">
            <div>
                <img src="{{static_url('web/cssimg/game/zmfdl.jpg')}}">
                <div>
                    <h2>真·萌法大陆</h2>
                    <p>《真·萌法大陆》2015年平台最新扛鼎力作，清新有趣的画风，其乐无穷的玩法，还有众多的萌妹子加盟，你怎么可以错过它？</p>
                    <p>这是一个充满神奇的魔法大陆，充满未知的危险和机遇——布满怪物的深渊迷宫，漫步独角兽和精灵的远古森林，效果逆天的专属神器（全服唯一），魔焰翻滚的魔族领地……</p>
                    <p>这一切，怎么能少了值得信赖的伙伴那你一起呢？</p>
                    <p>何况伙伴大部分全是软妹子哦！</p>
                    <p>全新独创的王城系统，率领公会成员攻城略地，给你机会在这个世界里锻造一个真实的魔法王国，告诉那些妹子，谁是她们的王！</p>
                </div>
            </div>
            <div>
                <img src="{{static_url('web/cssimg/game/fhzh.jpg')}}">
                <div>
                    <h2>烽火诸侯</h2>
                    <p>《烽火诸侯》两军征战，胜者为王！</p>
                    <p>只有男儿热血的碰撞，只有金戈铁马的厮杀，值得你奋战到底的情谊！</p>
                    <p>真正的战争页游，玩的就是恢弘大气的战争！</p>
                    <p>国战风巨作，耀世开启，经典国战，再现眼前，上演全服攻防战，尽在《烽火诸侯》。</p>
                    <p>八卦阵、长蛇阵、偃月阵……</p>
                    <p>木牛流马、投石车、连弩……</p>
                    <p>铁骑兵、长弓兵，铁甲兵……</p>
                    <p>排兵布阵，过千兵种，上百城关，地形陷阱，战争迷雾——一切跟战争有关的要素都在这里！你敢来接受挑战，看谁能是最强的将军吗？！</p>
                </div>
            </div>
            <div>
                <img src="{{static_url('web/cssimg/game/ssqxz.jpg')}}">
                <div>
                    <h2>蜀山情仙传</h2>
                    <p>《蜀山情仙传》是一款91NS平台自主研发的回合制3D页游。有别于其他粗糙滥造同质化严重回合制页游，《蜀山情仙传》有着完全独创的剧情流程，丰富的支线任务体系，每一段剧情对白都经过精心设计，与女主角的凄美爱情，和兄弟间的快意恩仇，来自魔族的霸业，仙界的阴谋……</p>
                    <p>系统上，全记103种丰富基础技能，4种职业84种职业技能，配合千变万化的装备系统，真正打造专属于你个人的鲜活人物。</p>
                    <p>我们给你一个真正能够沉浸感动的仙侠世界！</p>
                </div>
            </div>
            <div>
                <img src="{{static_url('web/cssimg/game/sgz.jpg')}}">
                <div>
                    <h2>三国战</h2>
                    <p>无征战，不三国！让你重返硝烟三国时代的战争游戏！</p>
                    <p>《三国战》，撕掉那些情怀和虚伪，一个字就是干！</p>
                    <p>火爆国战，攻城略地将无所不用其极！</p>
                    <p>国战城池系统，你扮演的不再是一个点点鼠标，看数字的城主，而是一个活生生的武将——担任间谍套取敌人信息，率领军队强袭突进，负责后勤保证粮道，制作攻城利器一举奠定乾坤！</p>
                    <p>出将入相，贼匪侠客，一切全看你的选择！</p>
                    <p>真正自由的三国！真正讲策略的三国！</p>
                    <p>究竟是谁能一统天下？</p>
                    <p>你的帝国，将由你的兄弟一起构建！</p>
                </div>
            </div>
        </div>
    </div>
    {% include "template/footer.html" %}
{% endblock %}
