<link rel="stylesheet" type="text/css" href="{{static_url('commonheader'|ns_css)}}" />
<link rel="stylesheet" type="text/css" href="{{static_url('icon/style-icon'|ns_css)}}"/>
<link rel="stylesheet" type="text/css" href="{{static_url('91ns.91ns'|ns_css)}}"/>
<!--[if !IE]>--><!-->
<script type="text/javascript" src="{{static_url('jq'|ns_js)}}"></script>
<!--<![endif]-->
<!--[if IE]>
<script type="text/javascript" src="{{static_url('jquery'|ns_js)}}"></script>
<![endif]-->
<script type="text/javascript">
    var jq=jQuery.noConflict()
    var isbindEmail = 0
</script>
<script type="text/javascript" src="{{static_url('commonheader'|ns_js)}}"></script>
<script type="text/javascript" src="{{static_url('unit'|ns_js)}}"></script>
<!--
<script type="text/javascript" name="baidu-tc-cerfication" data-appid="5414376" src="http://apps.bdimg.com/cloudaapi/lightapp.js"></script>-->
