<extend name='Public/bookbase'/>
<block name='title'>修改收票地址</block>
<block name='navbar'>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link">
                    <i class="icon icon-back"></i><span></span></a>
            </div>
            <div class="center sliding">修改收票地址</div>
        </div>
    </div>
</block>
<block name='body'>
    <div class="pages">
        <div data-page="editaddressReceiving" class="page">
            <input type="hidden" id='editaddressReceiving_id'  value='{$id}' />
            <div class="main" id="page-addressReceiving">
                <p>收货人</p>
                <input type="text" id='editaddressReceiving_name' value='{$name}'>
                <p>手机号码</p>
                <input type="text" id='editaddressReceiving_phone' value='{$phone}'>
                <p>详细地址</p>
                <textarea id='editaddressReceiving_address'>{$address}</textarea>
                <a href="javascript:editaddressReceiving_consigneeInfo()">保存</a>

                <div style="display:none" id="editaddressReceiving_thisUrl">{:U('bookwhole/consigneeInfo')}</div>
            </div>
        </div>
    </div>
</block>
