<extend name='Public/frombase'/>
<block name='body'>
<form method="post" action="{:U()}" enctype="multipart/form-data" target="myframe">
    <div class="formBody">
        <div class="packageBox">
            <div class="packageInfoLeft">
                <div class="privateInput">
                    <p>套餐名称</p>
                    <input type="text" placeholder="请输入套餐名称" name='name' />
                </div>
                <div class="packagePirce">
                     <div class="privateInput">
                        <p><input type="checkbox" id="check"  name='state' /><label for="check">购买一定份数享折扣优惠</label></p>
                        <input type="text"  placeholder="折扣份数" name='disNum'/>份
                        <input type="text" style="margin-left:50px;"  placeholder="折扣" name='discount'/>折
                    </div>
                     <div class="privateInput">
                     	<div class="privateInputItem">
                            <p>套餐售价</p>
                            <input type="text" placeholder="请输入套餐售价" name='price' />元
                        </div>
                        <div class="privateInputItem">
                            <p>套餐原价</p>
                            <input type="text" placeholder="请输入套餐原价" name='oriPrice' />元
                        </div>
                    </div>
                </div>
        </div>
            
            <div class="packageInfoRight">
            	<div class="privateInput">
                    <p>输入套餐明细，限16个字符以内</p>
                    <input type="text" placeholder="请输入详细信息" name='detail' />
                </div>
               <div class="packageImage">
                    <a class="uploadBtn" href="javascript:" ><input type="file" name='image' onchange="previewImage(this)" class="selectfile" style="width:60px; cursor:pointer;" />上传</a>
                    <p>上传套餐图片(图片尺寸：300×200)</p>
                    <div id="preview" class="imageBox" style="position:relative;">
                    	<div class="cancel" onclick="delpic(this,'')"></div>
                        <img id="imghead" width='180' height='120' border=0 src="">
                    </div>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
        <div class="privateAddBtm">
            <input type='submit' class="button" name='ssss'  value='确定'/ >
        </div>
    </div>
</form>
</block>
<block name="script">
<script type="text/javascript">
	  //图片上传预览    IE是用了滤镜。
        function previewImage(file)
        {
          var MAXWIDTH  = 180; 
          var MAXHEIGHT = 120;
          var div = document.getElementById('preview');
          if (file.files && file.files[0])
          {
              div.innerHTML ='<img id=imghead>';
              var img = document.getElementById('imghead');
              img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
              }
              var reader = new FileReader();
              reader.onload = function(evt){img.src = evt.target.result;}
              reader.readAsDataURL(file.files[0]);
          }
          else //兼容IE
          {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            var src = document.selection.createRange().text;
            div.innerHTML = '<img id=imghead>';
            var img = document.getElementById('imghead');
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
            div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
          }
        }
        function clacImgZoomParam( maxWidth, maxHeight, width, height ){
            var param = {top:0, left:0, width:width, height:height};
            if( width>maxWidth || height>maxHeight )
            {
                rateWidth = width / maxWidth;
                rateHeight = height / maxHeight;
                 
                if( rateWidth > rateHeight )
                {
                    param.width =  maxWidth;
                    param.height = Math.round(height / rateWidth);
                }else
                {
                    param.width = Math.round(width / rateHeight);
                    param.height = maxHeight;
                }
            }
             
            param.left = Math.round((maxWidth - param.width) / 2);
            param.top = Math.round((maxHeight - param.height) / 2);
            return param;
        }
</script>
</block>