<!--sidebar-menu-->
<div id="sidebar">
  <ul>
    <li><a href="/configmgr/vip"><i class="icon icon-file"></i> <span>VIP配置</span></a> </li>
    <li><a href="/configmgr/vipright"><i class="icon icon-file"></i> <span>vip特权管理</span></a></li>
    <li><a href="/configmgr/anchor"><i class="icon icon-file"></i> <span>主播配置</span></a> </li>
    <li><a href="/configmgr/anchorRecommend"><i class="icon icon-file"></i> <span>主播推荐配置</span></a> </li>
    <li><a href="/configmgr/richer"><i class="icon icon-file"></i> <span>富豪配置</span></a> </li>
    <li><a href="/configmgr/fans"><i class="icon icon-file"></i> <span>粉丝配置</span></a></li>
    <li><a href="/configmgr/guard"><i class="icon icon-file"></i> <span>守护配置</span></a></li>
    <li><a href="/configmgr/guardright"><i class="icon icon-file"></i> <span>守护特权配置</span></a></li>
    <li><a href="/configmgr/giftCar"><i class="icon icon-file"></i> <span>礼物座驾配置</span></a></li>
    <li><a href="/configmgr/giftType"><i class="icon icon-file"></i> <span>礼物类型配置</span></a> </li>
    <li><a href="/configmgr/gift"><i class="icon icon-file"></i> <span>礼物配置</span></a></li>
    <li><a href="/configmgr/carType"><i class="icon icon-file"></i> <span>座驾类型配置</span></a> </li>
    <li><a href="/configmgr/car"><i class="icon icon-file"></i> <span>座驾配置</span></a> </li>
    <li><a href="/configmgr/foodType"><i class="icon icon-file"></i> <span>酒水类型配置</span></a> </li>
    <li><a href="/configmgr/food"><i class="icon icon-file"></i> <span>酒水配置</span></a> </li>
    <li><a href="/configmgr/notice"><i class="icon icon-file"></i> <span>公告配置</span></a></li>
    <li><a href="/configmgr/banner"><i class="icon icon-file"></i> <span>banner配置</span></a></li>
    <li><a href="/configmgr/event"><i class="icon icon-file"></i> <span>活动配置</span></a></li>
      <li><a href="/configmgr/appConfig"><i class="icon icon-file"></i> <span>app下载配置</span></a></li>
  </ul>
</div>
<!--sidebar-menu-->

<!--sidebar-menu-->
<!-- <div id="sidebar">

  <ul>
     <li class="submenu active open">
      <a href="#"><i class="icon icon-home"></i> <span>配置管理</span></a> 
      <ul>
           <li><a href="#">主播列表</a></li>
                     <li><a href="#">房间列表</a></li>
                     <li><a href="#">礼物列表</a></li>
                     <li><a href="#">粉丝等级列表</a></li>
                     <li><a href="#">直播等级列表</a></li>
                     <li><a href="#">富豪等级列表</a></li>           
          </ul>
     </li>
  </ul>
</div> -->
<!--sidebar-menu-->

<!-- <div class="container">
<div align="center"> -->
    {{ content() }}
<!--</div>
 </div> -->