<div class="top_BgImg">
	<div class="top_down">
	    <div class="moblie_content">
	        <img class="ball" src="__static__/war/img/ball.png">
	        <div class="moblie_top_text">
	            <h1>《魔兽小宠物》</h1>
	            <p>不一样的魔兽不一样的世界</p>
	        </div>
	        <a class="down_load" href="javascript:downLoadApp();">
	            <img src="__static__/war/img/download_btn.png">
	        </a>
	    </div>
	</div>
</div>
<script type="text/javascript">
    function downLoadApp(){
        if(navigator.userAgent.match(/(iPhone|iPod|iPad);?/i)){
            location.href = "{$pokemon.apple_url}";
        }else if(navigator.userAgent.match(/android/i)){
            location.href = "{$pokemon.android_url}";//android 下载地址
        }
    }
</script>