<!DOCTYPE html>
<html  style="overflow: visible;*overflow: auto;">
<head>
    {% include "template/meta.html" %}
    <title>91NS—美女视频</title>
    {% include "template/link.html" %}
    <link rel="stylesheet" type="text/css" href="{{static_url('transition'|ns_css)}}">

    <script type="text/javascript" defer async data-main="{{static_url('transition'|ns_js)}}" src="{{static_url('tool/require'|ns_js)}}"></script>
</head>
<body style="padding: 0;margin: 0;overflow: visible;height: auto;">
<div class="wrap">
    {% include "template/header.html" %}

    <div class="wrapBd" style="background-color:#f86cae;">
        <div class="transition">
            <div class="head" >
                <div class="head-p">
                    <img class="head-img" src="{{static_url('web/cssimg/familyActivities/apply.png')}}">
                    <div class="head-p-span1 span1"></div>
                    <div class="head-p-span1 span2"></div>
                    <div class="head-p-span1 span3"></div>
                    <div class="head-p-span1 span4"></div>
                    <div class="head-p-span1 span5"></div>
                </div>
            </div>
            <div class="content" style="position: relative;">
                <div class="_content-img">
                    <div class="_content-img-span1 span1">基本资料</div>
                    <div class="_content-img-span1 span2">能力验证</div>
                    <div class="_content-img-span1 span3">成功签约</div>

                    <div class="_content-img-apply"><a href="/transition/applysign"></a></div>
                </div>
            </div>

        </div>
    </div>
    {% include "template/footer.html" %}
</div>
</body>
</html>
