<!--sidebar-menu-->
<div id="sidebar" class="clearfix"><!-- <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a> -->
  <ul style="display: block;">
  {% include "common/menu.html" %}
  </ul>
</div>
<!--end sidebar-menu-->

<div id="content">
  
    <div class="container-fluid" style="padding: 0;">
      <div class="widget-box tab-tabs" >
          <div class="widget-title">
            <ul class="nav nav-tabs">
                {% include "common/tab.html" %}
            </ul>
          </div>
          <div class="widget-content tab-content">
            <div id="tab1" class="tab-pane active">
              <div class="container-fluid">
                <div class="row-fluid" style="margin: 20px 0;overflow: hidden;">
                  <form id="fiamlyform" class="form-search">
                    <span class="find-search pull-right">
                    <i class="icon-search icon-on-right bigger-110"></i>
                    <input name="name" type="text" placeholder="家族名称" >
                    <input name="order" type="hidden" value="0">
                    <button id="fiamlysearch" type="button" class="btn btn-purple">搜索</button>
                    </span>
                  </form>
                </div>
                  {% include "common/pagination.html" %}
                <div class="row-fluid">
                  <table id="tableList" class="table with-check table-purple">
                    <thead>
                      <tr>
                        <th>家族名称</th>
                        <th>家族徽章</th>
                        <th>家族长</th>                        
                        <th class="cursor" onclick="tableOrderClick('fiamlyform',1,familylist)">收益(聊币)&uarr;&darr;</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>


              </div>
            </div>

            
         </div>
        </div>
    
    </div>
            
    
</div>


<script type="text/javascript" src="{{static_url('web/js/91ns.agent.js')}}"></script>
<script type="text/javascript" src="{{static_url('web/js/91ns.family.js')}}"></script>

