<!--sidebar-menu-->
<div id="sidebar" class="clearfix"><!-- <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a> -->
  <ul style="display: block;">
  {% include "common/menu.html" %}
  </ul>
</div>
<!--end sidebar-menu-->

<div id="content">
  
    <div class="container-fluid" style="padding: 0;">
      <div class="widget-box tab-tabs" >
          <div class="widget-title">
            <ul class="nav nav-tabs">
                {% include "common/tab.html" %}
            </ul>
          </div>
          <div class="widget-content tab-content">

            <div id="tab5" class="tab-pane active">
              <div class="container-fluid">
                <div class="row-fluid" style="margin: 20px 0 ;overflow: hidden;">
                  <form id="fiamlyApplyForm" class="form-search">
                      <input name="status" type="hidden" value="0">
                      <span style="font-size:20px; line-height: 30px">查看：</span>
                      <span class="tabs-group active" status="0">全部</span>
                      &nbsp; &nbsp;
                      <span class="tabs-group" status="1">待处理</span>
                       {%if familyApplyNum%}
                      <span id="tirCount" class="tir" style="margin-top: -9px;position: absolute;margin-left: -8px;">{{familyApplyNum}}</span>
                       {%endif%}
                      &nbsp; &nbsp;
                      <span class="tabs-group" status="2">已处理</span>

                </form>
                </div>
                  {% include "common/pagination.html" %}
                <div class="row-fluid">
                  <table id="tableList" class="table with-check table-purple">
                    <thead>
                      <tr>
                        <th>主播号</th>
                        <th>昵称</th>
                        <th>家族名</th>                        
                        <th>申请时间</th>
                        <th>状态</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>


              </div>
            </div>
            
         </div>
        </div>
    
    </div>
            
    
</div>

<div id="ruleDialog" style="display:none"> <!--class="ui-dialog"-->
    <form id="ruleDialogForm">
        <div>
            <span>满足以下</span>
            <select name="conditions" style="width: 110px;">
                <option value="2">全部且</option>
                <option value="1">任意或</option>
            </select>
            <span>条件</span>
            <button id="btnConditions" type="button" class="btn btn-purple" style="height: 30px;">添加条件</button>
        </div>
        <div style="height: 210px;width: 665px;border-radius: 4px;background-color: #f9f9f9;margin: 10px auto 30px;border: 1px solid #cccccc;overflow:auto;">
            <div id="conditionsclone" style="display: none">
                <div class="conditions-box" style="height: 40px;line-height: 40px;border-bottom: 1px dashed #cccccc;">
                    <span style="margin-left: 40px;">主播等级</span>
                    <select name="conditionsValue" class="selconditions" style="width: 110px;margin-top: 5px;margin-left: 40px;">

                    </select>

                    <input name="level"  type="text" class="sellevel" placeholder="请输入数字" style="width: 200px;margin-top: 5px;margin-left: 40px;" >
                   <!-- <select name="level"  >
                        <option value="">请选择主播等级</option>
                    </select>-->
                    <div class="font font20" style="cursor: pointer; color: red; width: 22px;height: 22px;margin:0 0 -4px 10px;display: inline-block;"><span class="icon-minus-sign" onclick="removCondbox(this)"></span></div>
                </div>
            </div>
            <div id="conditionsclone2">

            </div>

        </div>
        <div><span>请拖动指针设置分成比例：</span><span id="span_bin"></span></div>
        <div style="width: 660px;">
            <div style="margin-top: 45px;">
               <!-- <input  name="sivalue" type="hidden" class="single-slider" value="0" />-->
                <input type="number" name="sivalue" id="bedrooms" value="0" min="0" max="70" size="2" data-units="bedrooms" /><span>%</span>
            </div>

        </div>
    </form>
</div>


<script type="text/javascript" src="{{static_url('web/js/91ns.agent.js')}}"></script>
<script type="text/javascript" src="{{static_url('web/js/91ns.familyapply.js')}}"></script>


