<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>支付成功</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <script type="text/javascript" src="js/jquery1.42.min.js"></script>
    <script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="js/jquery.Spinner.js"></script>

</head>
<body id="page-paySuccess">

<!-- 导航 -->

<div id="header">
    <div class="container">
        <div class="logo"></div>
        <ul class="nav">
            <li class="index"><a>首页</a></li>
            <li class="film"><a>电影</a></li>
            <li class="period"><a>排期</a></li>
            <li class="bookwhole active"><a>包场</a></li>
            <li class="goods"><a>卖品</a></li>
            <li class="cinema"><a>影院</a></li>
            <li class="activity"><a>活动</a></li>
            <li class="phone"><a>移动购票</a></li>
            <li class="login"><a></a></li>
            <li class="suggestion"><a>意见反馈</a></li>
        </ul>
        <div class="login-block">
            <span><img src="images/user.png"></span>
            <a>登录</a>
            <a>注册</a>
        </div>
    </div>
</div>
<!--/ 导航 -->

<!-- 主体内容 -->
<div id="main">
    <div class="container">
        <p>预定成功，包厢验证码123456</p>
        <p>观影地点：中瑞三坊七巷店<a>查看订单></a></p>
    </div>
</div>
<!--/ 主体内容-->
<div id="footer">
    <div class="container">
        <ul>
            <li><a href=""></a><a href="">关于中瑞 / </a><a href="">服务协议 / </a><a href="">客服中心 /</a><a href="">网站导航 /</a> <a href="#">版权所有</a> </li>
            <li>Copyright © 1998 - 2015 ZRFILM. All Rights Reserved</li>
            <li> 技术支持：最美影视网络</li>
        </ul>
        <span class="tel">400-1234554665</span>
        <span class="publicize">精彩在握，移动购票</span>
    </div>
</div>


<script type="text/javascript">
    $(function(){
        //单选框美化
        $.fn.radio = function(options) {
            var self = this;
            return $('label', this).each(function() {
                $(this).addClass('radio');
                if ($(this).prev().is("checked")) $(this).addClass('radioChecked');
            }).click(function(event) {
                $(this).siblings().removeClass("radioChecked");
                if (!$(this).prev().is(':checked')) {
                    $(this).addClass("radioChecked");
                    $(this).prev()[0].checked = true;
                }
                event.stopPropagation();
            }).prev().hide();
        };

        $('.radiolist').radio();

        //加减
        $(".Spinner").Spinner({value:0, min:0, len:2, max:99});

    })
</script>
</body>
</html>

