<extend name='Public/base'/>
<block name='navbar'>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a class="link"> <i class="icon icon-back"></i><span></span></a></div>
        <div class="center sliding">评论详情</div>
        <div class="right"></div>
      </div>
    </div>
</block>   
</head>
<block name='body'>

 <div data-page="comment" class="page" id="page-comment">
	<div class="wrap">
        <link rel="stylesheet" href="__CSS__/goods.css?{:time()}">
            <div class="comment-main">
                <h4><img src="__IMG__/pic/comment1.png">黑色郁金香</h4>
                <article>
                    治愈那年尚未来得及感受的忧伤。1973年，年幼的莎拉康纳一家惨遭灭门，只有小女孩一人活了下来。救下她的是一个面无表情的壮汉，而这壮汉与杀害她父母的凶手一样，都是在未来一台叫天网的超级计算机为了杀戮人类而制造出来并时空穿越到这个时代的机器杀手“终结者”。
                </article>

                <section>
                    <div class="item-block">
                        <div class="datetime"><i>2015-09-02</i> <i>17:36</i></div>
                        <div class="comment-area"><span>3</span><a>52</a></div>
                    </div>
                </section>
            </div>

            <div class="comment-follow">
                <h4><img src="__IMG__/pic/comment1.png">马泽尔法克尔 <div class="datetime"><i>2015-09-02</i><i>17:36</i></div></h4>
                <article>
                    治愈那年尚未来得及感受的忧伤。1973年，年幼的莎拉康纳一家惨遭
                </article>
            </div>

            <div class="comment-follow">
                <h4><img src="__IMG__/pic/comment1.png">马泽尔法克尔 <div class="datetime"><i>2015-09-02</i><i>17:36</i></div></h4>
                <article>
                    治愈那年尚未来得及感受的忧伤。1973年，年幼的莎拉康纳一家惨遭
                </article>
            </div>

    </div>
     <div class="reply-area">
        <textarea placeholder="回复..."></textarea>
        <a>回复</a>
     </div>

  </div>

</block>
