<extend name='Public/base'/>
<block name='jscss'>
<link rel="stylesheet" href="/theme/stylesheet/swiper.css">
<link href="/theme/stylesheet/explain.css" rel="stylesheet">
<script type="text/javascript" src="/theme/javascript/swiper.min.js"></script> 

</block>
 <block name='navbar'>

<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="javascript:window.history.back()" class="external link"> <i class="icon icon-back"></i><span></span></a></div>
    <div class="center sliding">影城协议</div>
    <div class="right"></div>
  </div>
  </div>
</block>   
</head>
<block name='body'>

 <div data-page="voucher" class="page" >
 
	<div class="voucherContent">
    	<div class="tabs"> 
        	<a href="#" class="active">立减券</a>|<a href="#" >兑换券</a>|<a href="#" >卖品券</a>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                 <div class="voucherContent">
                    <div class="voucherTitle">立减券介绍</div>
                    <div class="voucherInfo">
                        <p>立减券是中瑞影城推出的一种观影电子优惠券，用户在中瑞电影客户端购买电影票时可使用电子优惠券抵扣相对应订单金额。</p>
                        <img src="/theme/image/explain/1.gif" width="100%;"  />
                    </div>
                    <div class="voucherTitle">使用规则</div>
                    <div class="voucherInfo">
                        <ul>
                            <li>立减券不能与其他优惠同时使用;</li>
                            <li>会员特价日、电影节、见面会等特殊场次及VIP贵宾区不可用;</li>
                            <li>立减券须在有效期内使用，过期作废，立减券不能兑现现金;</li>
                            <li>立减券只能抵充票款，不可抵充卖品金额；</li>
                            <li>如另有附加规则，在发送礼券时会附加规则说明；</li>
                            <li>该券最终解释权归中瑞影城所有。</li>
                        </ul>
                    </div>
                     <div class="voucherInfo"><img src="/theme/image/explain/2.gif" width="100%;" /></div>
                   <!-- <div class="voucherTitle">立减券客户端添加绑定</div>
                    <div class="voucherInfo">
                        <p>1.在我的券包中选择添加立减券。</p>
                        <img src="/theme/image/explain/2.gif" width="90%" />
                        <p>2.添加券码。</p>
                        <img src="/theme/image/explain/3.gif" width="90%" />
                        <p>3.绑定成功，返回我的券包浏览。</p>
                        <img src="/theme/image/explain/4.gif" width="80%" />
                    </div>
                    <div class="voucherTitle">获取方式</div>
                    <div class="voucherInfo">
                        <p>请关注各大中瑞影院活动，活动派送，惊喜不断，优惠多多。</p>
                    </div>-->
                </div>
              </div>
              <div class="swiper-slide">
                 <div class="voucherContent">
                    <div class="voucherTitle">兑换券介绍</div>
                    <div class="voucherInfo">
                        <p>兑换券是中瑞影城为方便广大用户推出的电子虚拟码，该码可在中瑞电影网、手机客户端、微信平台上用于兑换电影票。</p>
                        <p>兑换码类型：贵宾券、市场券、通兑ABCDEF券等</p>
                        <img src="/theme/image/explain/3.gif" width="100%;" />
                    </div>
                    <div class="voucherTitle">使用规则</div>
                    <div class="voucherInfo">
                        <ul>
                            <li> 一张兑换券可兑一张电影票;</li>
                            <li>会员特价日、电影节、见面会等特俗场次及VIP贵宾</li>
                            <li>兑换券不得与其他优惠同时使用，且所兑换影票不支持退票；</li>
                            <li>兑换券是否需要补差及其他使用细则，以购买或获赠兑换券时附带的使用规则为准；</li>
                            <li>该券最终解释权归中瑞影城所有。</li>
                        </ul>
                        <div class="zhu">注：由于不确定因素导致票价浮动，导致您使用兑换券兑换电影票时可能出现需补差价的情况，请谅解。</div>
                    </div>
                    <div class="voucherInfo" ><img src="/theme/image/explain/4.gif" width="100%;" /></div>
                    <!--<div class="voucherTitle">兑换券客户端添加绑定</div>
                    <div class="voucherInfo">
                        <p>1.在我的券包中选择添加兑换券。</p>
                        <img src="/theme/image/explain/6.gif" width="90%" />
                        <p>2.添加券码。</p>
                        <img src="/theme/image/explain/7.gif" width="90%" />
                        <p>3.绑定成功，返回我的券包浏览。</p>
                        <img src="/theme/image/explain/8.gif" width="80%" />
                    </div>
                    <div class="voucherTitle">获取方式</div>
                    <div class="voucherInfo">
                        <p>请关注各大中瑞影院活动，活动派送，惊喜不断，优惠多多。</p>
                    </div>-->
                </div>
              </div>
              <div class="swiper-slide">
              	<div class="voucherContent">
                    <div class="voucherTitle">卖品券介绍</div>
                    <div class="voucherInfo">
                        <p>卖品券是中瑞影城推出的一种购物优惠券，用户在中瑞电影网/手机客户端/微信平台购买卖品时可使用该券抵扣相应金额。</p>
                        <img src="/theme/image/explain/5.gif" width="100%;" />
                    </div>
                    <div class="voucherTitle">卖品券使用规则</div>
                    <div class="voucherInfo">
                        <ul>
                            <li>卖品券不能与其他优惠同时使用，每张券仅限使用一次;</li>
                            <li>卖品券只能抵充卖品，不可抵充影片金额;</li>
                            <li>卖品券须在有效期内使用，过期作废，卖品券不能兑换现金；</li>
                            <li>该券最终解释权归中瑞影城所有。</li>
                        </ul>
                    </div>
                    <div class="voucherInfo"><img src="/theme/image/explain/6.gif" width="100%;" /></div>
                    <!--<div class="voucherTitle">卖品券客户端添加绑定</div>
                    <div class="voucherInfo">
                        <p>1.在我的券包中选择添加卖品券。</p>
                        <img src="/theme/image/explain/10.gif" width="90%" />
                        <p>2.添加券码。</p>
                        <img src="/theme/image/explain/11.gif" width="90%" />
                        <p>3.绑定成功，返回我的券包浏览。</p>
                        <img src="/theme/image/explain/12.gif" width="80%" />
                    </div>
                    <div class="voucherTitle">获取方式</div>
                    <div class="voucherInfo">
                        <p>请关注各大中瑞影院活动，活动派送，惊喜不断，优惠多多。</p>
                    </div>-->
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
<script>
//登录方式切换
 var tabsSwiper = new Swiper('.swiper-container',{
    onlyExternal : true,
    speed:500
  })
  $(".tabs a").on('touchstart mousedown',function(e){
    e.preventDefault()
    $(".tabs .active").removeClass('active')
    $(this).addClass('active')
    tabsSwiper.swipeTo( $(this).index() )
  })
  $(".tabs a").click(function(e){
    e.preventDefault()
  })
</script>    
</block>
