<extend name='Public/shakebase1'/>
<block name='title'></block>

<block name='body'>
<div data-page="drawresult" class="page">
    <div class="main">
        <div class="title disable"></div>
        <div class="statusInfo">
            <ul>
                <li>很遗憾</li>
                <li>您今日的次数已用完</li>
            </ul>
            <!--机会用完了-->
            <div class="noChange">
            </div>
            <!--/机会用完了-->

            <p>您今天还有<i>0</i>次摇奖机会，</p>
            <p>每天有{$time}次摇奖机会！</p>
            <a class="disabled" style="display: none">明天再来</a>
        </div>
    </div>
    <div class="decorate"></div>
</div>
</block>
<block name='script'>
<script type="text/javascript">

  </script>
</block>