<extend name="Public/base"/>
<block name='navbar'>
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="<if condition="$pflag neq ''">{:U('index/cinema')}<else/>{:U('index/index')}</if>" class="external link"> <i class="icon icon-back"></i><span></span></a></div>
    <div class="center sliding">我的</div>
    <div class="right"></div>
  </div>
</div>
  </block>
<block name='body'>
  <div data-page="userIndex" class="page">
    <div class="page-content" style="padding-bottom:50px;">
	<div class="userTop">
        <img src="__IMG__/user/user2.png" width="100%" />
       <!-- <div class="userSet"><a href="" class=" link"></a></div>-->
        <div class="userInfo">
        	<a class="userFace" href="{:U('info')}"><span><img src="__IMG__/user/user4.png" width="100%" height="100%" /></span></a>
            <a href="{:U('info')}" class="name">fire</a>
        </div>
        <!--<div class="userBalance"><span>余额<br />￥{$user['basicBalance']+$user['donateBalance']}</span></div>
        
          <a href="{:U('info')}" class=" link">
                <div class="userTopLeft"><img src="__IMG__/user/my_icon.png" width="100%" /></div>
                <div class="userTopRight">
                    <h2>{$user['cardNum']}</h2><em>{$user['levelName']}</em>
                    <div class="info"></div>
                </div>
                <div class="clear"></div>
            </a>-->
    </div>
    <div class="list-block media-list">
              <ul>
                <li>
                  <a href="{:U('order')}" class="item-link item-content">
                    <div class="item-media"><img src="__IMG__/user/u1.png" width="25"></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">影票订单</div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="{:U('voucherorder')}" class="item-link item-content">
                    <div class="item-media"><img src="__IMG__/user/u2.png" width="25"></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">购券订单</div>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="{:U('package')}" class="item-link item-content">
                    <div class="item-media"><img src="__IMG__/user/u3.png" width="25"></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">我的券包</div>
                      </div>
                    </div>
                  </a>
                </li>
                </ul>
        </div>
        <a href="{:U('Public/logout')}" class="outBtn">退出登录</a>
    </div>
</div>
</block>
<block name='script'>
<script>
</script>
</block>

