<extend name='Public/base'/>
<block name='title'>购券订单</block>
<block name='navbar'>
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
    <div class="center sliding">购券订单</div>
    <div class="right"></div>
  </div>
</div>
</block>
<block name='body'>
	<div data-page="bankOrder" class="page" id="page-bankOrder">
    	<div class="main">
            <div class="voucher-item">
                <p><span>订单编号：104220377</span><span>2015-07-01 15：20：09</span></p>
                <div class="item-left">
                    <h4>2/3D</h4>
                    <p>兑换券</p>
                </div>
                <div class="item-right">
                    <h4>2D/3D兑换券<span>¥40.0</span></h4>
                    <ul>
                        <li>数量：2张</li>
                        <li>3D7Y5E38N3</li>
                        <li>3D7Y5E38N3</li>
                    </ul>
                </div>
            </div>
            <div class="voucher-item">
                <p><span>订单编号：104220377</span><span>2015-07-01 15：20：09</span></p>
                <div class="item-left">
                    <h4>2/3D</h4>
                    <p>兑换券</p>
                </div>
                <div class="item-right">
                    <h4>2D/3D兑换券<span>¥40.0</span></h4>
                    <ul>
                        <li>数量：2张</li>
                        <li>3D7Y5E38N3</li>
                        <li>3D7Y5E38N3</li>
                    </ul>
                </div>
            </div>
            <div class="voucher-item">
                <p><span>订单编号：104220377</span><span>2015-07-01 15：20：09</span></p>
                <div class="item-left">
                    <h4>2/3D</h4>
                    <p>兑换券</p>
                </div>
                <div class="item-right">
                    <h4>2D/3D兑换券<span>¥40.0</span></h4>
                    <ul>
                        <li>数量：2张</li>
                        <li>3D7Y5E38N3</li>
                        <li>3D7Y5E38N3</li>
                    </ul>
                </div>
            </div>

    	</div>


    </div>
    
</block>
<block name='script'>
</block>