{% extends "template/block_body.html" %}

{% block begin %}
<script type="text/javascript" src="{{static_url('getPassword'|ns_js)}}"></script>
{% endblock %}

{% block title %}
找回密码
{% endblock %}

{% block titleList %}
{% endblock %}

{% block titleContent %}
{% endblock %}

{% block content %}
<div class="center-box-parent">
    <div class="center-box-content">
        <div class="center-box main-background-body" bottompadding="42">
            <div class="center-top">
                <div class="rope-left">
                    <i class="gmc-icon gmc-icon-rope"></i>
                </div>
                <div class="rope-right">
                    <i class="gmc-icon gmc-icon-rope"></i>
                </div>
            </div>
            <div class="center-content">
                <div class="widget-box widget-box1">
                    <div class="help-box mdify-box">
                        <div class="container">
                            <div class="content">
                                <!--<div><p class="title">找回密码</p></div>-->
                                <div class="prompt">
                                    <div class="prompt-center clearfix">
                                        <div class="prompt-box-parent"><div class="retrieve retrieve-radius-red  prompt-radius">1</div><div class="retrieve retrieve-box-red  prompt-box">填写找回账号</div></div>
                                        <div class="prompt-box-parent"><div class="retrieve retrieve-radius-gray  prompt-radius1" id="second-one">2</div><div class="retrieve retrieve-box-gray  prompt-box1" id="second-two">密码找回</div></div>
                                        <div class="prompt-box-parent"><div class="retrieve retrieve-radius-gray  prompt-radius1" id="third-one">3</div><div class="retrieve retrieve-box-gray  prompt-box1" id="third-two">重置密码</div></div>
                                    </div>
                                </div>
                                <div class="content-retrieve clearfix" style="display:block;">
                                    <div class="content-retrieve-left pull-left">
                                        <div class="content-retrieve-id clearfix">账号:<input type="text" id="retrieve-Id"><span id="user-w"  style="position: absolute;margin: 6px 0 0 8px;*margin-top: 35px;"></span></div>
                                        <div class="row d_focus" style="margin-top: 15px;">
                                            <div class="v_code content-retrieve-check" style="*float: left;"><span style="float: left;margin-left: -11px;margin-top: 6px;">验证码:</span><input name="sechash" type="hidden"  id="checkinput"  data="0">
                                                <span>
                                                    <input name="seccodeverify_e" id="seccodeverify_e" type="text" autocomplete="off" style="ime-mode:disabled;width:70px;float: left;*margin-left: -188px;" class="reg_input_text5 txt px vm vue">
                                                </span>
                                                <span class="check-Refresh"><a href="javascript:;" onclick="getSecurityCode_e();" class="xi2"><i class="retrieve retrieve-Refresh"></i></a></span>
                                                <span id="seccode_e"> <img id="getPassword_e" captchaId="0" onclick="getSecurityCode_e();" width="150" height="40" src="" class="vm" alt=" "></span>
                                                <script type="text/javascript">getSecurityCode_e();</script>
                                                <span class="v_code_msg check-warming" id="code1"></span>
                                            </div>
                                        </div>
                                        <div class="btn-next" id="nextstep">下一步</div>
                                    </div>
                                    <div class="content-retrieve-right pull-right">
                                        <div class="retrieve retrieve-point content-retrieve-cue">
                                            <div style="margin-top: 106px;">
                                                <p class="cue-Info"><i class="retrieve retrieve-star icon-redstar"></i>请正确填写您要找回的账号，按操作提示依次完成找回。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-container" style="display: none;">
                                    <ul class="tabs clearfix">
                                        <li class="tab active" id="tabactive1"><a href="#tabs0-1"><div><i class="retrieve retrieve-question"></i></div>通过密保问题找回</a></li>
                                        <li class="tab" id="tabactive2"><a href="#tabs0-2"><div><i class="retrieve retrieve-telephone"></i></div>通过手机找回</a></li>
                                        <!-- <li class="tab" id="tabactive3"><a href="#tabs0-3"><div><i class="retrieve retrieve-email"></i></div>通过邮箱找回</a></li> -->
                                    </ul>
                                    <div id="tabs0-1" class="tabs-content clearfix" style="display:block;">
                                        <div class="content-retrieve-left pull-left">
                                            <div class="content-retrieve-user ">
                                                <span style="float: left;*display: inline-block;">账号 :</span>&nbsp;
                                                <label id="userName" style="*float: left;*display: inline-block;*margin: -19px 0 0 40px;"></label></div>
                                            <input  type='hidden'  id="userUid">
                                            <div class="content-retrieve-question">密保 :
                                                <select id='questions' name='questions'>
                                                    {% for question in issues %}
                                                    <option value="{{ question['id'] }}" >{{ question['name'] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="content-retrieve-answer clearfix" >答案 :<input type="text"  id='answer'><span id="answer-w"  style="position: absolute;margin: 6px 0 0 8px;"></span></div>
                                            <div class="btn-next btn-question" id="btnmof" >立即找回</div>
                                        </div>
                                        <div class="content-retrieve-right pull-right">
                                            <div class="retrieve retrieve-point content-retrieve-hint content-explain">
                                                <p class="cue-Info"><i class="retrieve retrieve-star icon-redstar"></i>通过设置的密保问题，回答正确的答案之后可以找回密码！</p>
                                                <p class="cue-Info"><i class="retrieve retrieve-star icon-redstar"></i>若有任何疑问，请联系<a href="tencent://message/?v=3&uin={{GMQQ[0]}}&site=qq&menu=yes">客服:1929586997</a></p>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="tabs0-2" class="tabs-content clearfix" style="display:none;">
                                        <div class="content-retrieve-left pull-left">
                                            <div class="content-retrieve-phone clearfix">
                                                <span style="*float: left">手机号码:</span><label id="userphone" style="*float: left"></label><!--<input type="text" >-->
                                                <div class="gain-check" id="get-CHeck" style="*float:left;cursor: pointer" >获取验证码</div>
                                                <div class="gain-check" id="get-CHeck-gray" style="display: none;background-color: #8e8e8e;*float: left">获取验证码<span style="display: none">60</span></div></div>
                                            <div class="content-check phone-content-check clearfix"><span style="*margin-top: 6px;*float: left;">验证码:</span><input type="text" id="checkCode"><span id="checkCode-w"  style="position: absolute;margin: 6px 0 0 8px;"></span></div>
                                            <div class="btn-next btn-phone" id="Immediatelyfind" data="0">立即找回</div>
                                        </div>
                                        <div class="content-retrieve-right pull-right">
                                            <div class="retrieve retrieve-point content-retrieve-hint">
                                                <div style="margin-top: 95px;*margin-top: 145px;">
                                                    <p class="cue-Info"><i class="retrieve retrieve-star icon-redstar"></i>输入手机中的验证码，即可完成手机验证。</p>
                                                    <p class="cue-Info"><i class="retrieve retrieve-star icon-redstar"></i>如果没有收到验证码，请再次点击获取验证码。</p>
                                                    <p class="cue-Info"><i class="retrieve retrieve-star icon-redstar"></i>验证码有效期3分钟。</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ta-content clearfix" id="phone-content" style="display: none;">
                                        <div class="content-retrieve-left pull-left">
                                            <div class="content-retrieve-newpwd clearfix" style="position: relative;">
                                                新密码 :
                                                <label class="ta-content-label" style="display: block;*margin: 2px 0 0 35px;" id="ta-Content-Label">(6-18字符，区分大小写)</label>
                                                <input type="password" id="newpwd">
                                                <span id="phone-w"  style="position: absolute;right:-155px;top:2px;"></span>
                                            </div>

                                            <div class="content-retrieve-confirmpwd clearfix">确认新密码 :<input type="password" id="pwd2"><span id="phone-w1"  style="position: absolute;margin: 6px 0 0 8px;"></span></div>
                                            <div class="btn-next btn-question" id="btn-submit">提交</div>
                                        </div>
                                        <div class="content-retrieve-right pull-right">
                                            <div class="retrieve retrieve-point content-retrieve-hint content-explain">
                                                <p class="cue-Info"><i class="retrieve retrieve-star icon-redstar"></i>重置密码说明：一旦您修改了密码，请您以新密码登录91NS</p>
                                                <p class="cue-Info"><i class="retrieve retrieve-star icon-redstar"></i>温馨提示：为了您的账号安全，密码最好不要设置成</p>
                                                <p class="cue-Info">生日、电话号码、车牌和门牌号码。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tabs0-3" class="tabs-content clearfix" style="display:none;">
                                        <div class="content-retrieve-left pull-left">
                                            <div class="content-retrieve-email clearfix"><span style="*float: left">邮箱:</span><label id="user-email" style="*float: left;min-width: 140px;display: inline-block;text-align: left;"></label><div class="gain-check" id="get-emailCHeck" style="cursor: pointer;*float: left" >获取验证码</div><div class="gain-check" id="get-emailCHeck-gray" style="display: none;background-color: #8e8e8e;*float: left;">获取验证码<span style="display: none">60</span></div></div>
                                            <div class="content-check email-content-check clearfix"><span style="*margin-top: 6px;*float: left;">验证码:</span><input type="text" id="emailcheck"><span id="emailCode-w"  style="position: absolute;margin: 6px 0 0 8px;"></span></div>
                                            <div class="btn-next btn-email" id="emailfind" data="0">立即找回</div>
                                        </div>
                                        <div class="content-retrieve-right pull-right">
                                            <div class="retrieve retrieve-point content-retrieve-hint">
                                                <div style="margin-top: 95px;*margin-top: 145px;">
                                                    <p class="cue-Info"><i class="retrieve retrieve-star icon-redstar"></i>输入邮件中的验证码，即可完成邮箱找回密码。</p>
                                                    <p class="cue-Info"><i class="retrieve retrieve-star icon-redstar"></i>如果没有收到验证邮件，请再次点击获取验证码。</p>
                                                    <p class="cue-Info"><i class="retrieve retrieve-star icon-redstar"></i>验证码有效期15分钟。</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ta-content clearfix" id="email-content" style="display: none;">
                                        <div class="content-retrieve-left pull-left">
                                            <div class="content-retrieve-newpwd clearfix">新密码 :<label class="ta-content-label" style="display: block;*margin: 7px 0 0 35px;" id="email-Label">(6-18字符，区分大小写)</label><input type="password" id="email-newpwd"><span id="email-w"  style="position: absolute;margin: -23px 0 0 176px;*margin: 0px 0 0 8px;"></span></div>

                                            <div class="content-retrieve-confirmpwd clearfix">确认新密码 :<input type="password" id="email-pwd2"><span id="email-w1"  style="position: absolute;margin: 6px 0 0 8px;"></span></div>
                                            <div class="btn-next btn-question" id="btn-emailsubmit">提交</div>
                                        </div>
                                        <div class="content-retrieve-right pull-right">
                                            <div class="retrieve retrieve-point content-retrieve-hint content-explain">
                                                <p class="cue-Info"><i class="retrieve retrieve-star icon-redstar"></i>重置密码说明：</p>
                                                <p class="cue-Info">一旦您修改了密码，请您以新密码登录91NS</p>
                                                <p class="cue-Info">温馨提示：为了您的账号安全，密码最好不要设置成</p>
                                                <p class="cue-Info">生日、电话号码、车牌和门牌号码。</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tabs0-4" class="tabs-content no-tabs">
                                        <div class="no-prop" style="color: #000000;"><span></span>对不起，您未绑定相关信息！</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-bottom"></div>
        </div>
        <div class="center-footer-bg" ></div>
        {% include "template/background.html" %}
    </div>
</div>
{% endblock %}

{% block end %}
{% endblock %}