{% extends "template/block_body.html" %}

{% block begin %}
{% endblock %}

{% block title %}
修改密码
{% endblock %}

{% block titleList %}
{% endblock %}

{% block titleContent %}
{% endblock %}

{% block content %}
<div class="center-box-parent">
    <div class="center-box-content">
        <div class="center-box main-background-body" bottompadding="42">
            <div class="center-top">
                <div class="rope-left">
                    <i class="gmc-icon gmc-icon-rope"></i>
                </div>
                <div class="rope-right">
                    <i class="gmc-icon gmc-icon-rope"></i>
                </div>
            </div>
            <div class="center-content">
                <div class="widget-box widget-box1">
                    <div class="help-box mdify-box">
                        <div class="container">
                            <div class="content modifypwd-box">
                                <div class="modifypwd-top">
                                </div>
                                <div class="content-retrieve clearfix" style="display:block;">
                                    <div class="modifypwd-content" >
                                        <div class="rowe">
                                            <label>旧密码:</label><input type="password" id="oldpwd"><span id="oldpwd-w"  style="position: absolute;margin: 6px 0 0 8px;*margin-top: 5px;"></span>
                                        </div>
                                        <div class="rowe">
                                            <label>新密码:</label><input type="password" id="newpwd"><span id="newpwd-w"  style="position: absolute;margin: 6px 0 0 8px;*margin-top: 5px;"></span>
                                        </div>
                                        <div class="rowe">
                                            <label>确定新密码:</label><input type="password" id="newpwd2"><span id="newpwd2-w"  style="position: absolute;margin: 6px 0 0 8px;*margin-top: 5px;"></span>
                                        </div>

                                        <div class="rowe">
                                            <label></label><span class="btn-next" id="btnmodifypwd">完成</span>
                                        </div>
                                        <div class="retrieve retrieve-point content-retrieve-hint content-explain">
                                            <p class="cue-Info" style="margin-top:30px;*margin-top:160px"><i class="retrieve retrieve-star icon-redstar"></i>
                                                旧密码和新密码不可一致，修改密码时如果忘记旧</p>
                                            <p class="cue-Info" style="margin-left:26px;">密码，请退出登录通过忘记密码找回！</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-bottom"></div>
        </div>
        <div class="center-footer-bg" ></div>
        {% include "template/background.html" %}
    </div>
</div>
{% endblock %}

{% block end %}
<script type="text/javascript" src="{{static_url('91ns.modifypassword'|ns_js)}}"></script>
{% endblock %}