<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><block name='title'>中兴电影院线后台管理系统</block></title>

<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/layer.js"></script>
<script type="text/javascript" src="__JS__/WdatePicker.js"></script>
<script type="text/javascript" src="__JS__/jquery.cityselect.js"></script>
<script type="text/javascript" src="__JS__/jquery.form.js"></script>
<script type="text/javascript" src="__STATIC__/jqdatetiem/jquery.datetimepicker.js"></script>
 
<link rel="stylesheet" href="__STATIC__/jqdatetiem/jquery.datetimepicker.css" type="text/css" media="screen" />


<link rel="stylesheet" href="__JS__/skin/layer.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__JS__/skin/layer.ext.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__CSS__/common.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__CSS__/style.css" type="text/css" media="screen" />
<block name='pageCss'></block>
</head>
<body >
  <block name='body'></block>
  <block name="script"></block>

</body>
</html>