<extend name='Public/base'/>
<block name='navbar'>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a class="link"> <i class="icon icon-back"></i><span></span></a></div>
        <div class="center sliding">我的评论</div>
        <div class="right"></div>
      </div>
    </div>
</block>   
</head>
<block name='body'>

 <div data-page="comment" class="page" id="page-myComment">
	<div class="wrap">
        <link rel="stylesheet" href="__CSS__/goods.css?{:time()}">

        <div class="comment-item">
            <article>
                治愈那年尚未来得及感受的忧伤。1973年，年幼的莎拉康纳一家惨遭灭门，只有小女孩一人活了下来。救下她的是一个面无表情的壮汉，而这壮汉与杀害她父母的凶手一样，都是在未来一台叫天网的超级计算机为了杀戮人类而制造出来并时空穿越到这个时代的机器杀手“终结者”。
            </article>

            <section>
                <div class="item-con">
                    <div class="img-box">
                        <img src="__IMG__/pic/comment.png">
                    </div>
                    <h4>终结者：创世纪</h4>
                    <p>汤姆·克鲁斯饰演的伊桑·亨特将汤</p>
                    <p>动作</p>
                </div>
                <div class="item-block">
                    <div class="datetime"><i>2015-09-02</i> <i>17:36</i></div>
                    <div class="comment-area"><span>3</span><a>52</a></div>
                </div>
            </section>
        </div>

        <div class="comment-item">
            <article>
                治愈那年尚未来得及感受的忧伤。1973年，年幼的莎拉康纳一家惨遭灭门，只有小女孩一人活了下来。救下她的是一个面无表情的壮汉，而这壮汉与杀害她父母的凶手一样，都是在未来一台叫天网的超级计算机为了杀戮人类而制造出来并时空穿越到这个时代的机器杀手“终结者”。
            </article>

            <section>
                <div class="item-con">
                    <div class="img-box">
                        <img src="__IMG__/pic/comment.png">
                    </div>
                    <h4>终结者：创世纪</h4>
                    <p>汤姆·克鲁斯饰演的伊桑·亨特将汤</p>
                    <p>动作</p>
                </div>
                <div class="item-block">
                    <div class="datetime"><i>2015-09-02</i> <i>17:36</i></div>
                    <div class="comment-area"><span>3</span><a>52</a></div>
                </div>
            </section>
        </div>

    </div>

    <div class="wrap no-comment" style="display: none">
        <p>您暂时还没有评论</p>
    </div>

  </div>

</block>
