<div class="m-y-content clearfix">
    <div class="cz-content phoneBind">
        <div class="cz-user clearfix">
            <div class="_t">手机号码：</div>
            <div class="_c">
                <input id="phoneNumber" type="text">
                <div class="submitPhoneNumber sub-bg">获取验证码</div>
            </div>
        </div>
        <div class="cz-tip clearfix" id="phoneNumberTip2">
            该手机号码未绑定过，可获取验证码。
        </div>
        <div class="cz-user clearfix phoneCaptcha">
            <div class="_t">验证码：</div>
            <div class="_c">
                <input id="phoneS" type="text">
                <div class="captchaTip"><span>59</span>秒后可重新发送</div>
            </div>
        </div>
        <div class="cz-tip clearfix" id="phoneCaptchaTip">
            验证码已发送，请注意查收，三分钟内有效
        </div>
        <div class="cz-but clearfix">
            <div class="alipay2 sub-bg" type="submit" name="submitPhoneS"   id="submitPhoneS" value="true" >提交绑定</div>
        </div>
    </div>
</div>
<div class="content-retrieve-right">
    <div class="retrieve retrieve-point content-retrieve-cue">
        <div style="margin-top: 160px;line-height:20px;margin-left:24px;">
            <i class="retrieve retrieve-star icon-redstar"></i>
            绑定手机用户，可通过短信接收各类验证码，安全快捷！
        </div>
    </div>
</div>