<div class="header_lang">
    <div class="langage">
		<p>中文</p>
		<img src="__static__/pokemon/img/blue_triangle.png"/>
	</div>
	<ul class="langage_ul">
		<a href="http://pokemon.u776.com?cn"><li>中文</li></a>
		<a href="http://pokemon.u776.com?ru"><li>RU</li></a>
		<a href="http://pokemon.u776.com?vn"><li>VN</li></a>
		<a href="http://pokemon.u776.com?ar"><li>AR</li></a>
		<a href="http://pokemon.u776.com?us"><li style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;border-bottom: 1px solid #ACACAC;">EN</li></a>
	</ul>
    <div class="navBox">
        <img id="logo" src="__static__/index/img/LOGO_color.png"/>
    </div>
</div>