<link rel="stylesheet" href="__CSS__/common.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__CSS__/style.css" type="text/css" media="screen" />

<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/layer.js"></script>
<script type="text/javascript" src="__JS__/jquery.form.js"></script> 

<script type="text/javascript" src="__JS__/Validform_v5.3.2.js"></script> 

<link rel="stylesheet" href="__JS__/skin/layer.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__JS__/skin/layer.ext.css" type="text/css" media="screen" />

<div class="binding">
<form method="post" action="{:U('')}" class="dataform" id="dataform" target="postPanel">
        <table width="300" style="width:300px;" border="0" cellpadding="0" cellspacing="0">
    		<thead>

                <input type="hidden" name="uid" value="{$adminInfo.uid}" />

         <tr><th colspan="4">修改密码</th></tr></thead>
        <tbody>


            <tr>
                <td width="100" align="right">原密码：</td>
                <td><input name="data[oldPasswd]" type="password"  value="{$adminInfo.username}" placeholder="请输入原密码"></td>
            </tr>
            <tr>
                <td width="100" align="right">密码：</td>
                <td><input name="data[password]" type="password"  id="text" value="" placeholder="请输入密码"></td>
            </tr>

            <tr>
                <td width="100" align="right">确认密码：</td>
                <td><input name="data[password2]" type="password"  id="text" value="" placeholder="请输入确认密码"></td>
            </tr>


        </tbody>
    </table>
    <div class="menuBtn">
        <a href="javascript:submitInfo();" class="button">更新</a>
        <input type="hidden" name="id" value="{$data.mid}" />
    </div>
        </form>  
</div>
<script type="text/javascript">
function submitInfo () {
    $('#dataform').submit();
}

</script> 
