<script type="text/javascript">window.location.href='/#!/{:U()}';</script>
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
    <div class="center sliding">历史券包</div>
    <div class="right"></div>
  </div>
</div>
<div class="pages">
  <div data-page="packagerecord" class="page">
    <div class="page-content">

        <foreach name="config" item="vo" key="k" >
        <div style="display:none" id="{$k}">{$vo}</div>
        </foreach>
        
		<div class="content">
            <div class="voucherList" style="margin-top:15px;">
            <?php if(empty($memberVoucherList)){ ?><div class="noVoucher">您暂时还没有优惠券</div><?php }else{ ?>
                <ul>
                	<foreach name='memberVoucherList' item='vo'>
                	<li>
                    	<img src="__IMG__/user/voucher4.png" width="100%" />
  

                        <div class="voucherBody">
                            <div class="voucherPrice">{:str_replace('兑换券','',$vo['voucherName'])}</div>
                            <div class="voucherCode">{$vo['voucherNum']}</div>
                            <div class="voucherName">兑换券</div>
                            
                            <div class="voucherDate">有效期至:{$vo['validData']|date='Y-m-d',###}</div>
                        </div>

                        <div class="voucherOut"><img src="__IMG__/user/<?php if($vo['voucherName']=='已过期'){ ?>out<?php }else{ ?>use<?php }?>.png" height="70%" /></div>
                    </li>
                    </foreach>
                </ul>
                <?php } ?>
            </div>
    	</div>


    </div>
  </div>
</div>
<block name='script'>
<script>

</script>  
</block>