<script type="text/javascript">window.location.href='/#!/{:U()}';</script>
    <div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
    <div class="center sliding">我的资料</div>
    <div class="right"></div>
  </div>
</div>

<div class="pages">
  <div data-page="userInfo" class="page">



    <div class="page-content">

      <foreach name="config" item="vo" key="k" >
        <div style="display:none" id="{$k}">{$vo}</div>
      </foreach>

       <div class="content">
                <div class="list-block media-list" style="margin-top:0;">
                  <ul>
                    <li>
                      <a href="{:U('user/name')}" class="name item-link item-content">
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">昵称</div>
                            <div class="item-after">{$user['otherName']}</div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="" class="sex item-link item-content " >
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">性别</div>
                            <div class="item-after">{$user['sex']}</div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <!--<li>
                      <a href="javascript:;" class="item-link item-content">
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">生日</div>
                            <div class="item-after"><input type="text" class="inputDate" id="birthday" value="{$user['birthday']}" /></div>
                          </div>
                        </div>
                      </a>
                    </li>-->
                  </ul>
                </div>
                <div class="list-block media-list">
                  <ul>
                    <li>
                      <a href="{:U('user/password')}" class="item-link item-content">
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">修改密码</div>
                          </div>
                        </div>
                      </a>
                    </li>
                   <!-- <li>
                      <a href="" class="item-link item-content">
                        <div class="item-inner">
                          <div class="item-title-row">
                            <div class="item-title">绑定手机号</div>
                            <div class="item-after">{$user['mobileNum']}</div>
                          </div>
                        </div>
                      </a>
                    </li>-->
                  </ul>
                </div>
            </div>
    </div>
  </div>
</div>