<script type="text/javascript">window.location.href='/#!/{:U()}';</script>
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
    <div class="center sliding">退票规则</div>
    <div class="right"></div>
  </div>
</div>


<div class="pages">
  <div data-page="userOrder" class="page">
    <div id="page-rtrule">
        <h4>温馨提示：</h4>
        <p>1.距离开场<i>2小时</i>以上的影片方可申请退票，影城柜台不支持退票；  2.使用积分、立减券及兑换码所购买的影票不支持</p>
        <p>2.使用<i>积分、立减券及兑换码</i>所购买的影票不支持退票；</p>
        <p>3.参与活动购买的<i>特价票</i>不支持退票；</p>
        <p>4.中瑞影城对上述退票规则保留最终解释权。</p>
    </div>
  </div>
</div>

<block name='script'>

<script type="text/javascript">

</script>

</block>