<div id="addExceptionDialog" style="display:none"> <!--class="ui-dialog"-->
  <div class="ui-dialog-header">
    <div class="title" style="margin-left: 20px;font-size: 14px;">
       选择主播：
    </div>
      <div class="clearfix">
        <form id="addanchorform">
          <ul id="ul_addanchorlist" class="addanchorlist" style="margin-top: 10px;">
              <!--<li class="a_anchorinfo" >
                <div class="th-header clearfix" >
                    <img class="pull-left" alt="" src="{{static_url('web/img/91ns/u88.png')}}">
                    <div class="th-h-text pull-left" >
                    <p><span>主播号:</span><span>1528956</span></p>
                    <p><span>昵称：</span><span>风中的树叶</span></p>
                    </div>
                  </div>
              </li>
              -->
              <li class="add-btn-anchor" onclick="addanchorDialog()" >
                <div style="position: relative;">
                  <span class="font font56 cr-pe" style="margin-top: 14px; margin-left:15px;  display: inline-block;" ><i class="icon-plus"></i></span>
                  <span  class="font font32 cr-pe" style="top:25px; display: inline-block;position: absolute;" >添加</span>
                </div>
              </li>
          </ul>
          </form>
      </div>
      <div style="width: 705px;height: 1px;border-bottom:1px dashed #cccccc;margin-top: 20px;"></div>
      <div class="title" style="margin: 20px 0 20px 20px;font-size: 14px;">
          输入兑换下限：
      </div>
      <div class="clearfix">
         <input id="excvalue" type="text" style="width: 650px;height: 30px;border: 1px solid #cccccc;margin-left: 30px;">
      </div>
  </div>

  <div class="ui-dialog-content">

  </div>
</div>