<div id="changescale" style="display:none;">
 <div>
     <form id="changescaleform">
         <div class="th-header clearfix" style="margin: 20px 0 0 10px;">
             <img id="ch_f_img" class="pull-left" style="width: 80px; height: 80px;border-radius: 50px;" alt="" src="{{static_url('web/img/91ns/u150.png')}}">
             <div class="th-h-text pull-left"  style="margin-top: 35px;font-size: 16px;margin-left: 20px;">
                 <p><span id="ch_f_name"></span><span id="ch_f_uid"></span></p>
             </div>
             <div style="margin-top: 100px;"><span>请拖动指针设置分成比例：</span></div>
             <div>

                 <div id="ch_range" style="margin-top: 45px;">

                 </div>

             </div>
         </div>
     </form>
 </div>
</div>