<div id="breadcrumb">
<a onclick="javascript:history.go(-1);" class="go-to-home tip-bottom font font18" style="cursor: pointer;">
<i class="icon-arrow-left"></i> 返回 &nbsp;
</a> 
<a onclick="javascript:history.go(-1);" class="font font18" style="cursor: pointer;"> &nbsp;&nbsp;<span>代理 &gt</span></a>
<a onclick="javascript:history.go(-1);" class="font font18" style="cursor: pointer;"> <span>家族&gt</span></a>
<a href="/agent/familyinfo?id={{info['id']}}" class="current font font18"> <span>家族详情</span></a>
</div>

<!--sidebar-menu-->
<div id="sidebar" class="clearfix">
    <div class="user-info">
        <img alt="" src="{{info['logo']}}">

        <p>
            <span class="font font20 cr-dpe">{{info['name']}}</span>
        </p>
     </div>
    <div class="progtrckr-box">
        <div class="progtrckrline" style="height: 132px;"></div>
        <ul class="progtrckr">
            <li class="active"><i class="custom-icon custom-icon-point"></i><a href="/agent/familyinfo?id={{info['id']}}">基本资料</a></li>
            <li><i class="custom-icon custom-icon-point"></i><a href="/agent/familyanchor?id={{info['id']}}">旗下主播</a></li>
            <li><i class="custom-icon custom-icon-point"></i><a href="/agent/familyincome?id={{info['id']}}">收益</a></li>
            <!-- <li><i class="custom-icon custom-icon-point"></i><a href="/agent/familytrend?id={{info['id']}}">趋势分析</a></li> -->
        </ul>
    </div>
</div>
<!--end sidebar-menu-->

<div id="applyinfo_content" style="  margin-left: 230px;">
    <div class="content-box" style="background: #FFF; text-align: left; margin-top: 40px;  padding-bottom: 40px;">

        <div class="ct-anchorinfo">
            <div class="l-row">
                <span class="lable font font16 cr-b9">家族徽章:</span>
                <span class="font font16">{{info['shortName']}}</span>
            </div>

            <div class="l-row">
                <span class="lable font font16 cr-b9"> 代理公司名称:</span>
                <span class="font font16">{{info['companyName']}}</span>
            </div>

            <div class="l-row">
                <span class="lable font font16 cr-b9">代理公司地址:</span>
                <span class="font font16">{{info['address']}}</span>
            </div>

            <div class="l-row" style="height: 107px; position: relative;">
                <span class="lable font font16 cr-b9" style="position:absolute; margin-top: 40px">家族长:</span>
                <div style="position: relative;">
                    <div class="photo clearfix">
                        <ul class="thumbnails" style="margin-top: 10px;">
                            <li class="span2">
                                <a href="/anchor/anchorinfo?uid={{info['uid']}}">
                                <div class="th-header clearfix">
                                    <img class="pull-left" src="{{info['avatar']}}">
                                    <div class="th-h-text pull-left"><p><span>主播号:</span><span>{{info['uid']}}</span></p><p><span>昵称：</span><span>{{info['nickName']}}</span></p></div>
                                </div>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>

<script type="text/javascript">
  
  $(function(){
    $('body').addClass('anchorinfo');
  });

  function applyClick(status){
      var data={};
       data.type=2;
      data.applyId=document.getElementById('applyId').value;
      data.uid=document.getElementById('uid').value;
      data.status=status;

     $.ajax({
        type:"post",
        data:data,
        url:'/ajax/auditApply',
        dataType:'json',
        success:function(res){
          location.reload();
        }
      });
  }
</script>