<extend name='Public/base'/>
<block name='title'>中瑞网售管理系统-商品列表</block>
<block name='body'>
<!--顶部结束-->
    <div class="content">
        <div class="leftMenu">
           <ul>
                {$leftMenu}
            </ul>
        </div>
        <div class="rightContent">
        	<div class="contentBox">
                <div class="cinema">
                    <div class="inputText">
                        <span>影院编号：</span>
                        <input name="data[cinemaCode]" id="cinemaCode" type="text" class="text" value="" placeholder="请输入影院编号">
                    </div>  <a href="" class="button" >提交</a>                 
                </div>
            </div>
            <div class="rightFooter">
                <p>Copyright © 2014-2015 福州最美影视网络科技有限公司 版权所有  4008-12345678</p>
            </div>
        </div>
        
</div>
<script type="text/javascript">

</script> 
</block>