cinemaList
<foreach name="cinema_lists" item="vo" key="k" >{$vo['cinema_id']}:{$vo.cinema_name};</foreach><extend name='Public/base'/>
<block name='title'>中瑞网售管理系统-商品列表</block>
<block name='body'>
    <div class="content">
        <div class="leftMenu">
            <ul>
                {$leftMenu}
            </ul>  
        </div>
        <div class="rightContent">
            
        	<div class="queryBox">
                <form id="serach" method="post" action="{:U()}">
                <div class="inputSelect">
                    <span>按影院查询：</span>
                    <select name="cinemaCode" id="cinemaCode">
                        <option value="">所有影院</option>
                        <foreach name="cinemaList" item="vo" key="k" >
                    	<option value="{$vo.cinemaCode}"<if condition="$vo['cinemaCode'] == $cinemaCode"> selected="selected"</if>>{$vo.cinemaName}</option>
                        </foreach>

                    </select>

                    <span>按状态查询：</span>
                    <select name="memberGroupId" id="memberGroupId">
                        <option value="">所有影院会员</option>
                        <option value="1"<if condition="1 == $memberGroupId"> selected="selected"</if>>已设置</option>
                        <option value="2"<if condition="2 == $memberGroupId"> selected="selected"</if>>未设置</option>
                    </select>
                </div>
                <input type="hidden" name="cinemaGroupId" value="{$cinemaGroupId}">
                <a href="javascript:submitSerach();" class="button">查询</a> <a href="javascript:ajaxGetCardTypeList();" class="button">获取系统会员</a>
                </form>
            </div>
            <div class="tableList">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                     <thead>
                          <tr>
                            <td width="5%">序号</td>
                            <td width="15%">归属影院</td>
                            <td width="15%">会员等级编码</td>
                            <td width="15%">会员卡名称</td>
                            <td width="15%">分组</td>
                            <td width="10%">操作</td>
                          </tr>
                      </thead>
                      <tbody>
                        <foreach name="cinemaMemberTypeList" item="vo" key="k" >
           
                        <tr>
                            <td>{$vo.id}</td>
                            <td><?php echo $cinemaList[$vo['cinemaCode']]['cinemaName'];?></td>
                            <td>{$vo.memberType}</td>
                            <td>{$vo.memberTypeName}</td>
                            <td><select name="memberGroupId" id="memberGroupId" class="select" onchange="setValue({$vo.id}, 'memberGroupId', this.value)">
                                <option value="">不可用</option>
                                <foreach name="cinemaMemberGroup" item="memberGroup">
                                <if condition="$memberGroup['type'] eq 0">
                                    <option value="{$memberGroup.groupId}" <if condition="$vo['memberGroupId'] eq $memberGroup['groupId']">selected="selected"</if>>{$memberGroup.groupName}</option>
                                </if>
                                </foreach>

                            </select></td>

                            <td><a  href="javascript:del(2031);">删除</a></td>
                         </tr>
                     </foreach>
                      </tbody>
                </table>
                <div class="pagination">{$page}</div> 
            </div>
        </div>
     </div>
<script type="text/javascript">
var cinemaGroupId = '{$cinemaGroupId}';

function submitSerach (argument) {
    $('#serach').submit();
}


function del(){
	layer.confirm('确认是否删除？',function(index){
	layer.msg('删除成功');
	})
}
var loadi = '';
var loadimsg = '';
function ajaxGetCardTypeList () {
    loadi = layer.load(1, {shade: [0.5,'#000']});
    layer.msg('正在影院会员列表...',{time: 3600});
    var cinemaCode = $('#cinemaCode').val();
    // alert(cinemaCode);

    $.ajax({    
    url:'{:U("ajaxGetCardTypeList")}',// 跳转到 action    
    data:{'cinemaCode':cinemaCode,'cinemaGroupId':cinemaGroupId},    
    type:'post',       
    dataType:'json',    
    success:function(data) {
        layer.close(loadi);
        layer.msg(data.content, {time: 3600});
        setTimeout(function(){location.reload()}, 1000);

    },    
    error : function() {
        layer.close(loadi);
        layer.msg('获取影院列表失败，请重试', {icon: 5});
    }    
    });
}

function setValue(memberId, name, value) {
    // alert(name+value);
    loadi = layer.load(1, {shade: [0.5,'#000']});
    loadimsg = layer.msg('正在影院会员列表...',{icon: 16, time:60000000});


    $.ajax({    
    url:'{:U("ajaxSeyCardTypeList")}',// 跳转到 action    
    data:{'memberId':memberId, 'name':name,'value':value},    
    type:'post',       
    dataType:'json',    
    success:function(data) {
        layer.close(loadi);
        layer.close(loadimsg);
        layer.msg(data.content, {time: 1000});
        // setTimeout(function(){location.reload()}, 1000);

    },    
    error : function() {
        layer.close(loadi);
        layer.close(loadimsg);
        layer.msg('获取影院列表失败，请重试', {icon: 5});
    }    
    });
}

</script> 
</block>