<extend name='Public/base'/>
<block name='title'>{$cinema['cinemaName']}</block>

<block name='navbar'>

<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><if condition="$pflag eq ''"><a href="{:U('index/index')}" class="external link"> <i class="icon icon-back"></i><span></span></a></if></div>
    <div class="center sliding">{$cinema['cinemaName']}</div>
    <div class="right"></div>
  </div>
  </div>
  </block>

<block name='body'>
<div data-page="cinemaIndex" class="page" style="padding-top:44px; overflow:scroll;">
<div class="content">
             <div class="swiper">
                <div class="swiper-container">
                  <div class="swiper-wrapper">
                    <volist name='banners' id='vo'>
                    <div class="swiper-slide"> <a href="{$vo['url']}"> <img src="__UPLOAD__/{$vo['img']}" height="100%" width="100%"></a> </div>
                    </volist>
                  </div>
                </div>
                <div class="pagination"></div>
            </div>
             <div class="homeLink">
          <div class="linkLeft">
              <a href="{:U('plan')}"><img src="__IMG__/common/1.jpg" width="100%" /></a>
                <div class="linkFilm">
                  <a href="<?php if($data['curin']=='0'){ ?>javascript:;<?php }else{ ?>{:U('film')}<?php }?>"><b>{$data['curin']}</b><span>正在热映</span></a>
                    <a href="<?php if($data['prein']=='0'){ ?>javascript:;<?php }else{ ?>{:U('soon')}<?php }?>"><b>{$data['prein']}</b><span>即将上映</span></a>
                </div>
            </div>
            <div class="linkRight">
              <a href="{:U('User/user')}"><img src="__IMG__/common/22.jpg" width="100%" /></a>
                <a href="{:U('Otherpay/index')}"><img src="__IMG__/common/33.jpg" width="100%" /></a>
                <a href="{:U('activity',array('cinemaCode'=>$cinema['cinemaCode']))}"><img src="__IMG__/common/44.jpg" width="100%" /></a>
            </div>
         </div>
             <div class="">
              <a href=""><img src="__UPLOAD__/{$ad['img']}" width="100%" height="120" /></a>
             </div>


           </div>      
         </div>  
       </block>
<block name='script'>
<script type="text/javascript">
var w=$(document).width();
    $('.swiper-container').height(w*0.33);
    var mySwiper = new Swiper('.swiper-container',{
      pagination: '.pagination',
      loop:true,
      grabCursor: true,
      paginationClickable: true
    })
    
  </script>
</block>