<extend name='Public/base'/>
<block name='body'>
<!-- 主体内容 -->

    <div id="main">
        <div class="container">
            <h2>包场信息</h2>
            <form method="post" action="payMent.html">
            <table class="table">

                <tr><th class="first">商品名称</th><th>单价</th><th>数量</th><th class="last">小计</th></tr>

                <tr><td class="item-title">九层妖塔</td></tr>
                <tr><td>包厢：7号/小黄人主题包厢 </td></tr>
                <tr><td>日期：2015/10/19 </td></tr>
                <tr class="item-last"><td>时间：18：00</td><td>30元/张</td><td>X10</td><td class="price">￥3000</td></tr>

                <tr><td class="item-title">套餐饮品</td></tr>
                <tr><td>单人套餐  </td><td> 10元/份</td><td>X10</td><td class="price">￥3000</td></tr>
                <tr class="item-last"><td>夏日冰爽套餐</td><td>10元/份</td><td>X10</td><td class="price">￥3000</td></tr>

                <tr><td class="item-title">附加服务</td></tr>
                <tr class="item-last"><td>服务服务范围为服务服务费</td><td>50元/次</td><td></td><td class="price">￥50</td></tr>

                <tr><td class="item-title">其他费用</td></tr>
                <tr class="item-last"><td>3元/张</td><td>3元/张</td><td>X10</td><td class="price">￥30</td></tr>

            </table>

            <p class="phone-num"><label>输入购票手机号：</label><input type="text"></p>

            <div class="submit-block">
                <span>总计：￥1000<i>（已优惠100）</i></span>
                <button>提交订单</button>
            </div>
            </form>
        </div>
    </div>

</block>
<block name='script'>
</block>