<extend name='Public/bookbase'/>
<block name='title'>收货人信息-空</block>
<block name='navbar'>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link">
                    <i class="icon icon-back"></i><span></span></a>
            </div>
            <div class="center sliding">收货人信息-空</div>
        </div>
    </div>
</block>
<block name='body'>
    <div class="pages">
        <div data-page="" class="page">

            <div class="main" id="page-consigneeEmpty">
                <img src="__IMG__/pic/shBg.jpg">
                <a href="{:U('bookwhole/addressReceiving')}">新增收货人</a>
            </div>
        </div>
    </div>
</block>
