<extend name='Public/base'/>
<block name='title'>微信购票</block>
<block name='css'>
	<link rel="stylesheet" href="__CSS__/buying.css" type="text/css" media="screen" />
</block>
<block name='navbar'>
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
    <div class="center title">中瑞南华影城</div>
    <div class="right"></div>
  </div>
</div>
</block>
<block name='body'>

<div class="pages">
  <div data-page="buyingfilmList" class="page" style="background:#fff;">
    <div class="page-content">
		<div class="filmContent">
        	<img src="__IMG__/buying/2.jpg" width="100%" />
            <div class="cinemaInfo">
            	<h2>影院信息</h2>
                <p><em><img src="__IMG__/buying/icon1.png" width="100%" /></em><span>福建省福州市鼓楼区三坊七巷南后街中段博览苑正对面</span></p>
                <p><em><img src="__IMG__/buying/icon2.png" width="100%" /></em><span><a href="tel:400-0125-000" class="external">400-0125-000</a></span></p>
                <p><em><img src="__IMG__/buying/icon3.png" width="100%" /></em><span>公交5、18、22、27、55、61、75、118、128、301、317、61、128、317、317支路、505路到三坊七巷站</span></p>
            </div>  
        </div>
	</div>
  </div>
</div>
</block>