<footer>
    <div class="funBtnBox cn" style="display: none;">
        <div class="funBtn">
            <a class="img" href="{:url('websiteInfo/index?type=1')}"><img src="__static__/index/img/about_us.png"/></a>
            <a href="{:url('websiteInfo/index?type=1')}">关于我们</a>
        </div>
        <div class="funBtn">
            <a class="img" href="{:url('websiteInfo/index?type=2')}"><img src="__static__/index/img/service_center.png"/></a>
            <a href="{:url('websiteInfo/index?type=2')}">客服中心</a>
        </div>
        <div class="funBtn">
            <a class="img" href="{:url('websiteInfo/index?type=3')}"><img src="__static__/index/img/contact_us.png"/></a>
            <a href="{:url('websiteInfo/index?type=3')}">联系我们</a>
        </div>
        <div class="funBtn">
            <a class="img" href="{:url('join/join')}"><img src="__static__/index/img/join_us.png"/></a>
            <a href="{:url('join/join')}">加入我们</a>
        </div>
        <div class="funBtn">
            <a class="img" href="{:url('websiteInfo/index?type=4')}"><img src="__static__/index/img/business.png"/></a>
            <a href="{:url('websiteInfo/index?type=4')}">加盟我们</a>
        </div>
    </div>
    <div class="funBtnBox en" style="display: none;">
        <div class="funBtn">
            <a class="img" href="{:url('websiteInfo/index?type=1')}"><img src="__static__/index/img/about_us.png"/></a>
            <a href="{:url('websiteInfo/index?type=1')}">ABOUT US</a>
        </div>
        <div class="funBtn">
            <a class="img" href="{:url('websiteInfo/index?type=2')}"><img src="__static__/index/img/service_center.png"/></a>
            <a href="{:url('websiteInfo/index?type=2')}">SERVICE CENTER</a>
        </div>
        <div class="funBtn">
            <a class="img" href="{:url('websiteInfo/index?type=3')}"><img src="__static__/index/img/contact_us.png"/></a>
            <a href="{:url('websiteInfo/index?type=3')}">CONTACT US</a>
        </div>
        <div class="funBtn">
            <a class="img" href="{:url('join/join')}"><img src="__static__/index/img/join_us.png"/></a>
            <a href="{:url('join/join')}">JOIN US</a>
        </div>
        <div class="funBtn">
            <a class="img" href="{:url('websiteInfo/index?type=4')}"><img src="__static__/index/img/business.png"/></a>
            <a href="{:url('websiteInfo/index?type=4')}">BUSINESS</a>
        </div>
    </div>
    <img id="footLogo" src="__static__/index/img/logo_white.png">
    <h1 class="cn" style="display: none;">{$copyright.value}</h1>
    <p class="icp cn" style="display: none;">{$approve.value}</p>
    <h1 class="en" style="display: none;">{$copyright_en.value}</h1>
    <p class="icp en" style="display: none;">{$approve_en.value}</p>
</footer>