<header>
    <div class="language clearfix">
        <a id="english" class="" href="javascript:void(0)"><img src="__static__/index/img/English.png"></a>
        <a id="chinese" class="active" href="javascript:void(0)"><img src="__static__/index/img/chinese.png"></a>
        <!--<a id="vietnam" class="" href="javascript:void(0)"><img src="__static__/index/img/Vietnam.png"></a>
        <a id="russia" class="" href="javascript:void(0)"><img src="__static__/index/img/Russia.png"></a>-->
    </div>
    <div class="navBox">
        <img id="logo" src="__static__/index/img/LOGO_color.png"/>
        <ul class="topNav cn" style="display: none;">
            <li><a href="{:url('Index/index')}">首页</a></li>
            <li><a href="{:url('Game/game')}">游戏</a></li>
            <li><a href="{:url('News/news')}">新闻</a></li>
            <li><a href="http://www.u591.com/newpay/all.php">充值中心</a></li>
        </ul>
        <ul class="topNav en" style="display: none;">
            <li><a href="{:url('Index/index')}">HOME</a></li>
            <li><a href="{:url('Game/game')}">GAMES</a></li>
            <li><a href="{:url('News/news')}">NEWS</a></li>
        </ul>
    </div>
</header>