<!DOCTYPE html>
<html>
<head>
    {% include "template/meta.html" %}
    <title>91NS—美女视频</title>
    {% include "template/link.html" %}
    <link rel="stylesheet" type="text/css" href="{{static_url('family'|ns_css)}}"/>
    <script type="text/javascript">
        var SWF_URL = "{{ swfUrl|default('web/swf') }}";
    </script>
</head>
<body>
<div class="wrap">
    {% include "template/header.html" %}
    <div class="wrapNav"></div>
    <div class="wrapBd">
        <div class="specificationBox">
            <div class="specification_head">上海秀吧主播签约协议</div>
            <ul>
                <li class="clearfix">
                    <div class="pull-left" style="width: 500px;">
                        <ul class="het-left">
                            <li style="margin-top: 0px;">甲方:</li>
                            <li>地址:</li>
                            <li>邮编:</li>
                            <li>联系电话:</li>
                            <li>联系电话:</li>
                        </ul>
                    </div>
                    <div class="pull-left">
                        <ul class="het-right">
                            <li style="margin-top: 0px;">乙方:</li>
                            <li>身份证号码:</li>
                            <li>地址:</li>
                            <li>联系电话:</li>
                            <li>上海秀吧昵称:</li>
                            <li>上海秀吧ID:</li>
                            <li>上海秀吧直播间地址:</li>
                        </ul>
                    </div>
                </li>
                <li style="margin-top: 48px;">甲乙双方经友好协商一致，就乙方作为甲方的上海秀吧独家签约主播一事约定如下：</li>
                <li>一、合作内容 </li>
                <li>新主播的试播期为十天，在十天内甲方需给乙方是否签约的答复，若签约，乙方需遵守以下所有规定： </li>
                <li>1.1乙方为甲方的独家签约主播， www.91ns.com是乙方从事网络在线演艺直播活动的独家及唯一性网站，签约主播作为表演者通 过视频发布直播、网络互动等方式与用户通过文字、网络表演、歌唱等方式交流，统称为“在线演艺直播活动”。</li>
                <li>1.2甲方拥有乙方在线演艺直播活动的音视频内容及其关联内容的版权，包括直播及后期录制的音视频及其关联内容等信息网络传播权及转授权，即甲方可自行或者授权他人通过网络、移动终端、手机、个人电脑、ipad 等链接、推广、合作等方式使用，乙方同意上述授权。对于任何非法盗用、刊登、 转载、复制乙方在线演艺直播活动音视频的公司、团体、个人或组织，甲方可以自身名义代乙方行使全球范围的法律诉讼权、损失赔偿权和获偿权；</li>
                <li>1.3甲方向乙方提供在线演艺直播活动的技术支持服务；</li>
                <li>1.4甲方承诺，将乙方作为其在线直播业务的独家签约艺人，尽其合理力量，向乙方提供宣传推广服务。包括发行单曲或唱片、歌迷会、演唱会等各类方式。乙方将有可能获得甲方提供的推广优先权；</li>
                <li>1.5乙方有权对甲方为其接洽的合作内容表达自己的意见；有权在对甲方安排或接洽的活动的合法性有怀疑时，提出异议并要求解释；</li>
                <li>1.6 乙方承诺，作为甲方在线直播业务的独家签约艺人，仅在甲方网站从事在线演艺直播活动。未经甲方书面许可，乙方不得在其它网站（包括但不限于以下网 站：、新浪网、9158、六间房、搜狐秀场、我秀网、多玩YY、皮皮网、酷狗繁星、视频达人秀、51网、酷六网、我播、呱呱、bobo、悠秀、九秀、星梦、么么秀场、69 秀场、kk唱响等）从事相同或类似活动。同时，乙方的“上海秀吧昵称”作为网络身份识别的重要标志，乙方不得以该昵称或者其他昵称在其它网站推广相关活动， 并且不能更改已有昵称，乙方作为网络主播的其他线下宣传活动也应当征得甲方的书面同意方可进行。</li>
                <li>1.7 乙方承诺，向甲方提供的个人信息，包括身份证号、银行账号、联系方式、 居住地址等合法有效。乙方承诺在甲方平台都是本人真实出镜直播，不挂录像视频、照片等，不消极直播；</li>
                <li>1.8乙方承诺，订立合同前并未与任何人、机构、公司订立任何会与本合约相冲突，或影响甲方利益的合同或类似的任何安排或承诺（不论是否以书面记录或口头 承诺），乙方在签定本合同时，须向甲方声明本合约生效前与第三者的任何未履行完毕的承诺；</li>
                <li>1.9 乙方要保证直播内容积极向上，无不良及非法内容，符合法律法规及相关政策的规定，并符合平台的《管理规范》；如因乙方行为导致甲方受损，则乙方须承担相关法律责任。甲方在接收到相关投诉时，可以要求乙方暂停演艺直播活动，并且保留单方解除合同的权利；</li>
                <li>1.10 乙方同意将本合同区域内的演艺经纪合同签与甲方。在本合同期内，甲方乙方在本合同区域内从事演艺事业的共同经纪人。乙方不得再同任何其他自然人、法人或其他组织签订其他任何形式的经纪合同、演艺合同、唱片、合同等任何与乙方工作性质相关或与娱乐行业相关的合同。也不得聘请任何第三方担任代理人或经纪人。</li>
                <li>1.11 甲方为乙方经纪人，乙方的工作安排、商业定价、商业合同的签订等须甲方书面确认。甲方负责乙方在录音作品、宣传推广以及商业演出等工作的安排与执行，甲方负责乙方在甲方平台以 及甲方合作方平台的相关推广协助。</li>
                <li>1.12 乙方在本合同期内只为甲方从事演艺工作。演艺工作的内容包括：符合中华人民共和国法律、法规规定的并为之允许的电影、电视、录影、广告、舞台、演唱、录音、剪彩、广播、灌录唱 片、登台演出、模特、电台访问或录音，亲自出席宣传推广工作及有关演艺事业需要的活动等。</li>
                <li>二、主播薪酬分配 </li>
                <li>2.1：新主播扶持</li>
                <li>对于新引进的主播，引进后两个月收益不低于600元（即最少收到120000聊币的礼物），直播时间大于等于70小时，月有效天数>=22天，满足其他91NS平台其他软性标准可发放1500元底薪作为扶持。</li>
                <li><span style="color: #1e92f4;">考核期：从主播第一次开播日起算满30天。</span>（比如3月5号开通的直播间，3月21号第一次开播，那么任务是到4月21号截止，也就是5月10号发）</li>
                <li>新签约主播需认真阅读《主播管理规范》、《主播培训教程》：    http://v.youku.com/v_show/id_XMTI1NTA1NDA2OA==.html。</li>
                <li><span style="color: #1e92f4;">发放方式：于符合发放条件的次月15-20号统一发放。</span></li>
                <li>主播软性标准如下：</li>
                <li>1.必须有完整的设备：声卡、电容麦、高清摄像头（非红外）:</li>
                <li>2.具备优秀的主麦能力，有突出才艺，能迅速调动房间气氛</li>
                <li>3.视频清晰，背景整洁，形象佳，有人缘</li>
                <li>4.不违反站内主播管理制度（详见《主播管理规范》）</li>
                <li>5.连续两月未达以上标准，自动转为“非签约主播”。</li>
                <li>2.2：新主播奖励标准：</li>
                <li>主播将按照粉丝为主播消费产生经验值（本平台虚拟货币有聊币和聊豆，1元=100聊币，聊豆为玩家做任务所得；主播根据主播收到的收益，产生经验值，收到500的聊币则有500的经验，主播如何收到聊币收益，则由粉丝送礼或者抢座，或者守护等行为为主播产生，收到聊豆一样可以升经验值）确定等级</li>
                <li>1. 月播出时长达到70小时、个人账号当月礼物收益75万聊币以上，发薪2500元+个人整月收益；</li>
                <li>2. 月播出时长达到70小时、个人账号当月礼物收益达50万聊币以上，发薪2200元+个人整月收益；</li>
                <li>3. 月播出时长达到70小时、个人账号当月礼物收益收入达25万聊币以上，发薪2000元+个人整月收益；</li>
                <li>4. 月播出时长达到70小时、个人账号当月礼物收益收入达12.5万聊币以上，发薪1800元+个人整月收益；</li>
                <li>5. 主播底薪和奖励部分，如果中途换站，取消底薪和奖励部分，扣除整月收益；甲方保留追偿的权利。</li>
                <li>6.年度奖励政策：</li>
                <li>(1)自 2015年8月1日起，在平台签约满一年的主播（2015年8月之前签约的按2016年8月计算），秀吧将给予每年2400元的年度奖励，享受资格如下（需同时满足）：</li>
                <li>a)  一年内有效播出至少11个月（有效播出指当月播出>20天，每天播出1.5小时以上）；</li>
                <li>b) 若签约主播在秀吧的播出有超过一个月以上的断档，则重新开始连续播出的日期重新累计；</li>
                <li>c) 一年内收入超过1000万聊币；</li>
                <li>d)年度奖励在主播连续有效播出的第14个月发放。</li>
                <li>7.若当月主播直播有效总时长大于100小时则有500元的勤奋     奖，未达到直播时长将不发放薪资；</li>
                <li>每天至少播出1.5小时以上，当月满勤将会获得500元的满勤奖励（勤奋奖和满勤奖同时达到一共奖励800元）</li>
                <li>8.新主播同时参与平台的所有奖励活动，奖金方式累加。</li>
                <li>2.3:新主播的底薪平台将分六个月发，即开播的每个月发500元；直播两个月后，平台将不再提供扶持，主播每月领取   %的收益，平台将在次月的10-18号发放扣税后的收益。</li>
                <li>三、违约责任及合同的解除终止</li>
                <li>3.1除不可抗力外，甲方连续3次未在规定时间内向乙方支付其应得经济收益，视为甲方单方面违约，乙方可解除此协议，并起诉甲方支付该支付的薪酬。</li>
                <li>3.2乙方保证本合同项下的所有直播内容不违反相关法律法规，不存在任何法律 瑕疵，不涉及色情、暴力、反动、两性、成人等不适宜发布的内容，不违背或侵犯任何第三方的合法权利，否则因其提供作品内容引起的任何争议、纠纷或诉讼、政府管制由乙方负责解决并承担全部责任，并赔偿甲方受到的一切直接和可预见损失， 包括但不限于甲方遭受的罚款、处罚、解决纠纷和诉讼的全部费用、营业损失及预 期损失。同时，甲方有权单方解除本合同，乙方应向甲方支付乙方在甲方平台已获报酬总额的200%作为违约金。</li>
                <li>3.3未经甲方书面许可，乙方在其它网站从事与本协议规定的在线演艺直播活动相同或类似行为，视为乙方单方面违约，甲方有权要求乙方立即停止未经许可的合作，同时乙方需向甲方支付违约金，金额为人民币10万元。</li>
                <li>3.4由于一方的过失，造成本合同不能履行或不能完成履行时，由过失一方承担违约责任，如属双方过失，由双方分担各自应负的违约责任。</li>
                <li>3.5乙方承诺不得擅自放弃或更改已具有公众影响力的姓名或代号包括91ns昵称。</li>
                <li>3.6除上述约定的违约责任外，任何一方违反本合同的任何条款，另一方视其情节有权采取如下措施：要求对方立即停止违约行为；要求对方继续履行本合同；向违约方追索因其违约行为给守约方造成的直接或间接经济损失，同时支付相应的律师费、诉讼费。</li>
                <li>3.7 在下列情况下，任何一方有权单方解除，合同于书面解除通知到达对方时终止；如因乙方的失职造成的解除合同，乙方在一年内仍然不得在其他平台从事直播工作：</li>
                <li>3.7.1一方因故意或疏忽而不尽职尽责，导致损害或违背另一方的利益或合理要求；</li>
                <li>3.7.2一方不遵守或严重违反本合同的约定条款或一方不履行或不能履行本合同条款所列的事项，导致另一方不能实现合同目的；</li>
                <li>3.7.3乙方涉入本合同外的法律纠纷而严重影响工作，甲方有权终止合同；</li>
                <li>3.7.4乙方涉嫌违法犯罪；</li>
                <li>3.7.5如乙方出现非本人直播、挂录像、照片、消极直播等行为，甲方有权立即终止合同；</li>
                <li>3.7.6在合同期限届满之前，当事人一方明确表示或以自己的行为表明不履行合同主要义务的。</li>
                <li>四、不可抗力及免责</li>
                <li>4.1如遇不可抗力导致本合同暂缓或无法履行的，遭受不可抗力一方应当于该不 可抗力发生之日起【5】天内书面通知另一方并提供合法证明，由双方协商解决，本 合同不可抗力除法律规定的情形外，因网络之特殊性还包括技术故障、服务器故障、 黑客攻击、病毒、第三方行为、政府管制、相关部门要求等情形，如遇上述情形导 致影响双方合作的，任何一方可选择在上述情形消失后顺延合作期限或解除本合同。</li>
                <li>五、保密条款</li>
                <li>5.1甲乙双方一致同意本合同以及甲乙双方因本合同的订立和履行而交换或获 悉的有关对方的任何资料或信息均属机密资料，甲乙双方将确保所有该等资料绝对 保密，除非得到对方的事先书面同意或依本合同约定，不会向任何第三方披露。</li>
                <li>5.2除本合同规定之工作所需外，未经甲方事先同意，乙方不得擅自使用、复制甲方的商标、标志、商业信息、技术及其他任何资料。</li>
                <li>5.3本合同合作期限内及期满后，本保密条款仍具有法律效力。</li>
                <li>六、其他</li>
                <li>6.1本合同的形成、效力、解释、签署、修改及终止均适用中国法律，以中文版 本为准，一旦双方就本合同发生争议，双方应本着友好的态度协商解决；协商无法 解决的所有争议提交甲方所在地法院管辖。</li>
                <li>6.2合同期限为【2015】年【 】月【 】日至【201】年【 】月【 】日。在此 之前双方所达成的有关本合同事宜的任何口头或书面合同均无效；本合同的任何修 改均应由双方协商并以书面打印方式确认；本合同壹式贰份，自签订之日起生效， 双方各执壹份，具有同等法律效力。合同未尽事宜可另行签订补充合同作为附件， 一经合法签章与本合同具有同等法律效力。</li>
                <li>6.3如甲、乙任何一方有延长此合同期限的意向，应在合同到期日前至少【30】 天以书面形式向另一方提出，双方可协商延长但应另行签订合同。</li>
                <li>6.4所有因履行本合同而产生的工作成果、会议纪要、文件等将采取书面方式提 交或通知对方，包括专人送交、专人领取、邮政快递、电传、电子邮件。任何一方 在收到后应向对方出具收据或签收。双方的联系方式见页首约定，任何一方的通信 地址、电话、传真等联系方式若发生变化，应及时通知对方。</li>
                <li>6.5 主播必须无条件支持甲方有利于平台运营增加的主播管理条例。如有异议可以书面形式反馈到甲方商榷。</li>
                <li>6.6 在合同有效期内，乙方有不可抗拒理由离职或者辞职，必须以书面形式发与甲方确认，待甲方确认后，方可离职；否则甲方有权扣除当月收入及押金。主播离职后一年，不得在其他平台从事直播工作,违反此规定,乙方需赔偿甲方10万元。</li>
                <li>6.7 若乙方在职工作中，不服从甲方的管理规定，甲方有权单方解除合同，辞退乙方；乙方在被辞退的情况下，在一年内不得在其他平台从事直播工作，否则甲方保持追偿5万元的权利；乙方对甲方的管理规定有异议时，甲方需给出合理的解释。</li>
                <li>本合同一式三份，甲乙双方及族长各一份。</li>
                <li class="clearfix">
                    <div class="pull-left" style="width: 500px;">
                        <ul class="het-left">
                            <li style="margin-top: 48px;">甲方:</li>
                        </ul>
                    </div>
                    <div class="pull-left">
                        <ul class="het-right">
                            <li style="margin-top: 48px;">乙方:</li>
                        </ul>
                    </div>
                </li>
                <li class="listSpe"><span>年</span><span>月</span><span>日</span></li>
            </ul>

        </div>
    </div>
</div>
<div id="room_iframe_content">
    <iframe id="room_iframe" width="100%" height="100%" style="position:absolute;top:0;left:0;border:0;z-index:-1;opacity: 0; filter: alpha(opacity=0);"></iframe>
</div>
    {% include "template/footer.html" %}
    <script type="text/javascript" defer async data-main="{{static_url('family.create'|ns_js)}}" src="{{static_url('tool/require'|ns_js)}}"></script>
</body>
</html>