<!DOCTYPE html>
<html>
<head>
    {% include "template/meta.html" %}
    <title>91NS—美女视频</title>
    {% include "template/link.html" %}
    <link rel="stylesheet" type="text/css" href="{{static_url('family'|ns_css)}}"/>
    <script type="text/javascript">
        var SWF_URL = "{{ swfUrl|default('web/swf') }}";
    </script>
</head>
<body>
<div class="wrap">
    {% include "template/header.html" %}
    <div class="wrapNav"></div>
    <div class="wrapBd">
        <div class="specificationBox">
            <div class="specification_head">91NS直播规范</div>
            <ul>
                <li>1. 直播前做好文档或计划：准备歌单、幽默小故事、猜谜语、脑经急转弯、绕口令、热门话题或一些小游戏、或小比赛如大笑一分钟、瞪眼不动三十秒等等；并经常学习新歌。个人手机上下载同类直播软件，有空的时候挑一个主播学习，学习别人的直播；</li>
                <li>2. 用户进来打招呼，特别是有车有富豪等级的用户；如：欢迎富豪某某哥进入我的直播间。可以称呼用户为哥哥、大哥，爱死你们了等等，这可以有助于拉近与观众的距离。</li>
                <li>3. 不能发呆，玩手机、微信、QQ等，影响直播质量，每发现一次，扣100元；有紧急电话需要接的，和用户致歉并在20秒内挂断；不能眼神发散，对着摄像头，让用户觉得你在看着他；</li>
                <li>4. 在没有用户互动的时候，可以唱歌，或讨论热门话题，挑起用户的互动欲望；</li>
                <li>5. 不能公布个人的信息，包括具体住址、QQ、电话、微信、陌陌等联系方式（除公司配置的联系方式除外），只能公布地域信息如福州鼓楼、厦门集美、莆田南门等等，不能私下发微信红包，并在平台上宣扬，影响其他的用户体验；主播之间不得给用户其他主播的联系方式，私底下传播主播的个人私密信息：</li>
                <li>发现公布上述禁止信息的，发现解除合约并扣除当月所有收入；造成用户流失的，平台保持起诉的权利；主播泄露其他主播的私密信息给用户的，如造成泄露主播的收益的，平台发现后扣除泄露者当月收益并保持将以泄露商业秘密起诉的权利。</li>
                <li>6. 做到用户点歌时和互动时懂得喊麦：点歌请刷礼物或掌声；善于调动气氛，在每个环节设置喊麦，注意实时和用户互动；不要冷场，注意回答每个用户提出的问题，做到幽默、有趣或温柔、婉转；懂得计数，把现场气氛盘活，如1314朵花开始跳舞，那么可以叫管理倒计数或自己喊麦计数；</li>
                <li>7. 特别要求：熟悉本地方言的，改编一些自己熟悉的歌曲，用本地方言演唱，可拉近和地域用户的距离，增加地域用户的归属感，并录制好交给公司，公司将作为宣传题材在各个渠道上宣传；主播录制的好的题材平台将给予一定的奖励；</li>
                <li>8. 求礼物应当欲拒还迎：礼物不应该强求多少，礼物要的是积少成多，细水长流。所以求礼物也应适当欲拒还迎，例如“哎呀，今天少送点，留着明天送啊！”</li>
                <li>9. 观众分类对应方法：观众可以分为【一般人】和【有钱人】两类：</li>
                <li>【一般人】人数多，可以烘托主播间气氛； </li>
                <li>【有钱人】则是收入爆发增长的重要点。</li>
                <li>【有钱人】人数少，心理上要的是被重视，被区别对待，与其他观众与众不同。标志是有富豪等级和座驾比别人好，可要求关注、守护、送大的礼物等等。</li>
                <li>因此，对于【有钱人】需要做到以下几点：优先回答问题；主动询问信息；提供房间管理权限；向其请求援助；</li>
                <li>10. 记住自己的粉丝，并保持和粉丝的互动；</li>
                <li>11. 在离开时，切换录好的唱歌录像并注明：主播去。。。马上回来！</li>
                <li>12. 在将下线时，如有客户刚开始刷礼物，请坚持直播，把用户留住，平台对此类主播表示感谢；</li>
                <li>13. 熟悉公司的运营流程，配合公司在平台上开展上开展的运营活动；</li>
                <li>14. 生日节日：生日需要提前预告，告知粉丝，预备生日节目和观众互动；碰到有节日的日子，需要将聊天话题引导至与节日相关的话题。</li>
                <li>15. 不得讨论一些违法的如摇头丸、六合彩等等违法的话题，发现后强制关闭直播；</li>
                <li>16. 接受公司的培训并配合做好；</li>
                <li>17. 主播与主播之间不得互黑，主播不得讽刺、看不起、骂用户，给用户带来不好的体验；发现的即刻屏蔽，并罚款500元；情节严重导致用户流失的，开除并扣除当月所有收益。</li>
                <li>18. 主播未经过平台组织的情况下，私自和用户接触产生的个人人生安全问题由主播自己承担。</li>
            </ul>

        </div>
    </div>
</div>
<div id="room_iframe_content">
    <iframe id="room_iframe" width="100%" height="100%" style="position:absolute;top:0;left:0;border:0;z-index:-1;opacity: 0; filter: alpha(opacity=0);"></iframe>
</div>
    {% include "template/footer.html" %}
    <script type="text/javascript" defer async data-main="{{static_url('family.create'|ns_js)}}" src="{{static_url('tool/require'|ns_js)}}"></script>
</body>
</html>