<extend name='Public/frombase'/>
<block name='body'>
<form method="post" action="{:U()}" class="dataform" id="dataform">
	<div class="formBox">
	<input type="hidden" name="id"   value="{$seller['id']}"/>
        <div class="inputText" >
            <span>商户名称：</span>
            <input type="text" name="data[sellerName]"  placeholder="请输入商户名称" value="{$seller['sellerName']}">
        </div>
        <div class="inputText" >
            <span>商户地址：</span>
            <input type="text" name="data[address]"  placeholder="请输入商户地址" value="{$seller['address']}">
        </div>
        <div class="inputText" >
            <span>商户电话：</span>
            <input type="text" name="data[phone]"  placeholder="请输入商户电话" value="{$seller['phone']}">
        </div>
        <div class="inputSelect" >
            <span>所属影院：</span>
            <select name='data[cinemaCode]'>
            <volist id='vo' name='cinemaList'>
                <option value="{$vo['cinemaCode']}"  <?php if($vo['cinemaCode']==$seller['cinemaCode']){ ?>selected<?php }?>>{$vo['cinemaName']}</option>
              </volist>
            </select>
        </div>
        <div class="inputText" >
            <span>验证账户：</span>
            <input type="text" name="data[account]"  placeholder="请设置商户账号" value="{$seller['account']}">
        </div>
        <div class="inputText" >
            <span>密码设置：</span>
            <input type="password" name="data[passwd]"  placeholder="请设置密码" value="{$seller['passwd']}">
        </div>
    </div>
	<div class="formBtn">
        <a href="#" class="button">确认</a>
         <a href="#" class="cancel">取消</a>
        
    </div>
</form>
<script>
$('.button').click(function() {
	var flag=true;
	$('input[type="text"]').each(function(){
		var name=$(this).prev('span').html();
		var value=$(this).val();
		if(value==''){
			layer.alert(name+'不能为空');
			flag=false;
			return false;
		}
	});
	if(flag){
		$('#dataform').submit();
	}
});
</script>
</block>