<script type="text/javascript">window.location.href='/#!/{:U()}';</script>
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
    <div class="center sliding">修改密码</div>
    <div class="right"></div>
  </div>
</div>

<div class="pages">
  <div data-page="userInfo" class="page">
    <div class="page-content" style="padding-top:0">
      <foreach name="config" item="vo" key="k" >
        <div style="display:none" id="{$k}">{$vo}</div>
      </foreach>
      <div class="content">
                <div class="inputText">
                    <input type="password" placeholder="请输入原始密码"  id='oldp' />
                    <input type="password" placeholder="请输入新密码（6位纯数字）"  id='curp'/>
                    <input type="password" placeholder="请确认新密码（6位纯数字）"  id='dp'/>
                </div>
                <div class="Button"><a id='pwdid'  href="" onclick="pwdajax()" class="btn">确认</a></div>
            </div>
    </div>
  </div>
</div>