<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>摇奖结果</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="__CSS__/framework7.ios.min.css">
    <link rel="stylesheet" href="__CSS__/shake.css?{:time()}">
    <script type="text/javascript" src="__JS__/jquery.js"></script>
  </head>
  <body>
    <div class="views">
      <div class="panel panel-left panel-cover">
        <div class="view view-left navbar-through">

        </div>
      </div>
      <!--<div class="view view-main navbar-through">-->
          <!--<div class="navbar">-->
            <!--<div class="navbar-inner">-->
                <!--<div class="left">-->
                    <!--<a href="#" class="back link">-->
                        <!--<i class="icon icon-back"></i><span></span></a>-->
                <!--</div>-->
                <!--<div class="center sliding">中奖结果</div>-->
                <!--<div class="right"></div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="pages" >
        <div data-page="drawresult" class="page">
    <div class="main">
        <div class="title"></div>
        <div class="statusInfo">
            <ul>
                <li>恭喜你摇到了1张</li>
                <li>{$prize['name']}</li>
                <li>已添加到您的券包中</li>
            </ul>
        
              <block name='body'></block>
              <p>您今天还有<i>{$hastime}</i>次摇奖机会，</p>
            <p>每天有{$time}次摇奖机会！</p>
            <?php if($hastime>0){ ?><a>再摇一次</a><?php }else{ ?>
            <a class="disabled" style="display: none">明天再来</a><?php }?>
        </div>
    </div>
    <div class="decorate"></div>
</div>
        </div>
		<!--<block name='toolbar'></block>-->

      </div>
      <style>
		.navbar:after{
			height:0px;
			}
		</style>
    </div>

    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="__JS__/framework7.min.js"></script>

    <!-- Path to your app js-->
    <script type="text/javascript" src="__JS__/shake.js?{:time()}"></script>
  </body>
</html>
<block name='script'></block>