<script type="text/javascript">window.location.href='/#!/{:U()}';</script>
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span></span></a></div>
    <div class="center sliding">修改密码</div>
    <div class="right"></div>
  </div>
</div>

<div class="pages">
  <div data-page="password" class="page">
    <div class="page-content" style="padding-top:44">
      <foreach name="config" item="vo" key="k" >
        <div style="display:none" id="{$k}">{$vo}</div>
      </foreach>
      <div class="content">
      	<div class="content-block" style="margin: 15px 0;">
            <div class="buttons-row">
            <?php if($data['hasmobile']=='1'&&$data['hascard']=='1'){ ?>
                <?php if($data['hasmobile']=='1'){ ?><a href="#tab1" class="button tab-link active" >手机号</a><?php }?>
                <?php if($data['hascard']=='1'){ ?><a href="#tab2" class="button tab-link" >会员</a><?php }?><?php }?>
            </div>
        </div>
        <div class="tabs-animated-wrap">
            <div class="tabs">
            <?php if($data['hasmobile']=='1'){ ?>
                <div id="tab1" class="tab active">
                	<div class="editPwd">
                        <div class="loginInput">
                            <div><span><img src="__IMG__/login/icon3.png" width="100%"></span><input type="password" placeholder="请输入原始密码"  id='oldPasswd1' /></div>
                        </div>
                        <div class="loginInput">
                            <div><span><img src="__IMG__/login/icon3.png" width="100%"></span><input type="password" placeholder="6-20个字母、数字或符号"  id='newMobilePasswd'/></div>
                        </div>
                        <div class="loginInput">
                            <div><span><img src="__IMG__/login/icon3.png" width="100%"></span><input type="password" placeholder="6-20个字母、数字或符号"  id='tnewMobilePasswd'/></div>
                        </div>
                        <div class="Button"><a id='pwdid1'  href="javascript:;">确认</a></div>
                      </div>
                </div>
                <?php }?>
                <?php if($data['hascard']=='1'){ ?>
                <div id="tab2" class="tab">
                	 <div class="editPwd">
                        <div class="loginInput">
                            <div><span><img src="__IMG__/login/icon3.png" width="100%"></span><input type="password" placeholder="请输入原始密码"  id='oldPasswd' /></div>
                        </div>
                        <div class="loginInput">
                            <div><span><img src="__IMG__/login/icon3.png" width="100%"></span><input type="password" placeholder="6位纯数字"  id='newCardPasswd'/></div>
                        </div>
                        <div class="loginInput">
                            <div><span><img src="__IMG__/login/icon3.png" width="100%"></span><input type="password" placeholder="6位纯数字"  id='tnewCardPasswd'/></div>
                        </div>
            			<div class="Button"><a id='pwdid'  href="javascript:;">确认</a></div>
                </div>
            </div>
            <?php }?>
        </div>
       
        </div>
    </div>
  </div>
</div>