<!DOCTYPE html>
<html>
<head lang="en">
{% include "template/about_link.html" %}
<link rel="stylesheet" type="text/css" href="{{static_url('about/index'|ns_css)}}"/>
</head>
<body class="clearfix">
{% include "template/about_header.html" %}
<div class="content about w1000m500">
    <i class="title"></i>
    <i class="hr"></i>
    <div class="content1 clearfix">
        <div class="left">
            <p>
                福州小伙伴网络科技有限公司，是福建新兴的互联网娱乐公司。
                </br>
                致力于全方位的经纪团队组建、娱乐艺人的挖掘培养、线上视频直播互动平台的构建。
                </br>
                立志为国内互动娱乐产业注入新元素，提供最高品质的娱乐产品服务。
            </p>
        </div>
        <div class="right"></div>
    </div>
    <div class="content2 clearfix">
        <div class="left"></div>
        <div class="right">
            <p>
                91NS网络直播平台，是福建省内最大的线上娱乐直播互动平台，更是福建省内最强的网络造星平台。
                </br>
                汇集海量福建本土优质主播，每日精彩才艺在线免费观看；
                </br>
                同时兼并线下区域性娱乐商演渠道，是贯通线上线下的新一代O2O直播平台。
            </p>
        </div>
    </div>
    <div class="content3 clearfix">
        <div class="left">
            <p>
                全力扶植新主播：
                </br>
                公司将为每位主播量身定制艺人式的培训及培养计划，打造本土明星特色；
                </br>
                提供商演和拍摄网络短剧的机会，提升主播曝光度；并提供底薪+抽成式的高薪报酬。
                </br>
                新主播签约，头两个月可享受平台无条件高额底薪支持，
                </br>
                且每位主播只需完成平台任务指标，即可额外获得平台奖金；
            </p>
        </div>
        <div class="right"></div>
    </div>
</div>
{% include "template/about_footer.html" %}
</body>
</html>
