<!DOCTYPE html>
<html>
<head lang="en">
{% include "template/about_link.html" %}
<link rel="stylesheet" type="text/css" href="{{static_url('about/index'|ns_css)}}"/>
</head>
<body class="clearfix">
{% include "template/about_header.html" %}
<div class="content principle w1000m500">
    <i class="title"></i>
    <div class="content">
    	<i class="clearfix"><i></i></i><h3>隐私权政策适用范围</h3>
		包括91NS如何处理用户在登录其网站和服务器时留下的个人身份识别信息，以及与商业伙伴共享的其他身份识别信息。
		隐私权政策不适用于非91NS所属机构及非91NS雇员
		<i class="clearfix"><i></i></i><h3>信息收集和使用</h3>
		在您注册91NS帐户，使用其他91NS产品或服务，访问91NS网页, 或参加促销和有奖游戏时，91NS会收集您的个人身份识别资料。91NS也会收集来自商业伙伴的身份识别资料。
		当您注册91NS帐户时,我们会问及您的姓名、电邮地址、兴趣、出生日期、性别、个人主页和个人介绍。只要您在91NS成功注册并登录服务器，我们将可以识别您。
		91NS会自动接收并记录您的浏览器和服务器日志上的信息，其中包括您的 IP 地址,91NScookie 中的信息以及您需求的网页记录。
		91NS会将这些资料用于改进为您提供的视频服务质量。
		<i class="clearfix"><i></i></i><h3>信息公开与共享</h3>
		91NS不会将您的个人识别信息展示、出租或出售给任何人
		以下情况除外：
		只有透露您的个人资料，才能提供您所要求的产品和服务；
		我们需要向代表我们提供产品或服务的公司提供资料（除非我们另行通知您，否则这些公司无权使用您的身份识别资料）；
		我们需要听从法庭传票、法律命令或遵循法律程序；
		我们发现您违反了91NS服务条款、91NS地球村服务条款或任何其他产品及服务的使用规定。
		<i class="clearfix"><i></i></i><h3>Cookie</h3>
		91NS会在您的电脑上设定或取用91NSCookie。
		91NS允许那些在我们网页上发布广告的公司到用户电脑上设定或取用Cookie 。其他公司将按其自订的隐私权政策而非本政策使用Cookie，他们不能取用91NS的Cookie。
		91NS在进行与其产品及服务相关的工作时，会使用网络 Beacon 进入我们的网站提取 Cookie。
		<i class="clearfix"><i></i></i><h3>网络Beacons（如适用）</h3>
		网页会包含电子影像 (称为「像素 GIF」或「beacon」)，让网站计算使用网页的人次或存取某个 cookie 的会员。91NS使用「beacon」的方法包括：
		在91NS使用 beacon
		91NS利用网站中的 beacon 计算使用人次，也透过存取91NScookie 辨认已注册的会员。
		由于可以存取91NScookie，我们才可以在您身处其它非 91ns.com的领域时也能提供个人化的网页服务。
		在91NS网域以外使用 web beacon
		91NS会利用网站的beacon，为合作伙伴的网站进行数据搜集工作，有关数据也会作统计用途。
		网站beacon所记录的91NS会员数据会整合起来，以综合数据形式供合作伙伴参考。综合数据会包括人数统计和使用情况等资料，但不会包含任何可以识别个人身分的数据。
		当91NS要放置网站beacon，替合作伙伴进行数据搜集时，我们会要求合作伙伴利用其私隐权政策网页，告诉用户其网页使用了网站beacon。
		注：这项选择只会记录在您当前使用的浏览器中，而并非您的用户记录中。所以要完全取消使用信标，您必须在所有的计算机和浏览器选按以上连结
		<i class="clearfix"><i></i></i><h3>HTML 电子邮件</h3>
		91NS的一般做法是在发送 HTML 形式的电子邮件讯息 (包括图像的邮件) 时加上 beacon，用来计算已开启的讯息数目。
		一般来说，电子影像会视为网页的一部分，包括横幅广告，都可以当作 beacon 使用。所以在91NS所放置的广告也都可以加上 beacon。
		91NS追踪特定的使用行为。从网页beacons上收集的信息用来了解用户是如何使用我们的产品的，以及提供更准确的报告和增进市场推广的有效性。
		<i class="clearfix"><i></i></i><h3>编辑个人帐户资料及喜好的权限</h3>
		91NS赋予您在任何时候编辑91NS帐户信息和喜好的权利，其中包括是否接受91NS提供的最新产品信息。
		<i class="clearfix"><i></i></i><h3>安全保障</h3>
		您的91NS帐户具有密码保护功能，以确保您的隐私和信息安全。
		在某些情况下，91NS使用通行标准的SSL保密系统，确保资料传送的安全性。
		<i class="clearfix"><i></i></i><h3>隐私权政策的修订</h3>
		91NS时常会对隐私权政策进行修改。如果在使用用户个人信息政策方面有大幅度修改时，我们会在网页中显眼的位置贴出相关规定以便及时通知用户。
    </div>
    <i class="bottom"></i>
</div>
{% include "template/about_footer.html" %}
</body>
</html>
