<extend name='Public/base'/>

<block name='body'>


    <div id="main">
        <div class="container">
            <div class="film-con">
                <h2><a href="filmlist.html">正在热映</a><a href="filmlist2.html" class="active">即将上映</a></h2>
                <div class="slide-box">
                    <div class="hd">
                        <a class="next"></a>
                        <a class="prev"></a>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="hr"></div>
                    </div>

                    <div class="bd">
                        <ul>
                            <li>
                                <div class="baseInfo">
                                    <a href="filminfo.html" class="img-box">
                                        <img src="__IMG__/pic/topfilm2.png" >
                                        <div class="tag 3d"></div>
                                    </a>
                                    <h3><a href="filminfo.html">博物馆奇妙夜 2</a></h3>
                                    <p><i>片长：120分钟</i><i>今天上映15</i></p>
                                    <h4>我也想当这样的博物馆管理员！</h4>
                                    <ul>
                                        <li>导演：彼得·杰克逊 </li>
                                        <li>主演：马丁·弗瑞曼/理查德·阿米蒂奇/伊恩·麦克莱恩/本尼迪克特·康伯巴奇/卢克·伊万斯/奥兰多·布鲁姆</li>
                                        <li class="last">类型：奇幻,冒险,动作</li>
                                    </ul>
                                    <div class="showDate"><span>12-5</span><a>上映</a></div>
                                    <a class="selectSeat-btn">等待排期</a>
                                </div>
                            </li>
                            <li>
                                <div class="baseInfo">
                                    <a href="filminfo.html" class="img-box">
                                        <img src="__IMG__/pic/topfilm2.png" >
                                        <div class="tag zmax"></div>
                                    </a>
                                    <h3><a href="filminfo.html">博物馆奇妙夜 2</a></h3>
                                    <p><i>片长：120分钟</i><i>今天上映15</i></p>
                                    <h4>我也想当这样的博物馆管理员！</h4>
                                    <ul>
                                        <li>导演：彼得·杰克逊 </li>
                                        <li>主演：马丁·弗瑞曼/理查德·阿米蒂奇/伊恩·麦克莱恩/本尼迪克特·康伯巴奇/卢克·伊万斯/奥兰多·布鲁姆</li>
                                        <li class="last">2015-11-27上映<span>预售</span></li>
                                    </ul>
                                    <div class="showDate"><span>12-5</span><a>上映</a></div>
                                    <a class="selectSeat-btn">等待排期</a>
                                </div>
                            </li>
                            <li>
                                <div class="baseInfo">
                                    <a href="filminfo.html" class="img-box">
                                        <img src="__IMG__/pic/topfilm2.png" >
                                        <div class="tag zmax"></div>
                                    </a>
                                    <h3><a href="filminfo.html">博物馆奇妙夜 2</a></h3>
                                    <p><i>片长：120分钟</i><i>今天上映15</i></p>
                                    <h4>我也想当这样的博物馆管理员！</h4>
                                    <ul>
                                        <li>导演：彼得·杰克逊 </li>
                                        <li>主演：马丁·弗瑞曼/理查德·阿米蒂奇/伊恩·麦克莱恩/本尼迪克特·康伯巴奇/卢克·伊万斯/奥兰多·布鲁姆</li>
                                        <li class="last">类型：奇幻,冒险,动作</li>
                                    </ul>
                                    <div class="showDate"><span>12-5</span><a>上映</a></div>
                                    <a class="selectSeat-btn">等待排期</a>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="baseInfo">
                                    <a href="filminfo.html" class="img-box">
                                        <img src="__IMG__/pic/topfilm2.png" >
                                        <div class="tag 3d"></div>
                                    </a>
                                    <h3><a href="filminfo.html">博物馆奇妙夜 2</a></h3>
                                    <p><i>片长：120分钟</i><i>今天上映15</i></p>
                                    <h4>我也想当这样的博物馆管理员！</h4>
                                    <ul>
                                        <li>导演：彼得·杰克逊 </li>
                                        <li>主演：马丁·弗瑞曼/理查德·阿米蒂奇/伊恩·麦克莱恩/本尼迪克特·康伯巴奇/卢克·伊万斯/奥兰多·布鲁姆</li>
                                        <li class="last">类型：奇幻,冒险,动作</li>
                                    </ul>
                                    <div class="showDate"><span>12-5</span><a>上映</a></div>
                                    <a class="selectSeat-btn">等待排期</a>
                                </div>
                            </li>
                            <li>
                                <div class="baseInfo">
                                    <a href="filminfo.html" class="img-box">
                                        <img src="__IMG__/pic/topfilm2.png" >
                                        <div class="tag zmax"></div>
                                    </a>
                                    <h3><a href="filminfo.html">博物馆奇妙夜 2</a></h3>
                                    <p><i>片长：120分钟</i><i>今天上映15</i></p>
                                    <h4>我也想当这样的博物馆管理员！</h4>
                                    <ul>
                                        <li>导演：彼得·杰克逊 </li>
                                        <li>主演：马丁·弗瑞曼/理查德·阿米蒂奇/伊恩·麦克莱恩/本尼迪克特·康伯巴奇/卢克·伊万斯/奥兰多·布鲁姆</li>
                                        <li class="last">2015-11-27上映<span>预售</span></li>
                                    </ul>
                                    <div class="showDate"><span>12-5</span><a>上映</a></div>
                                    <a class="selectSeat-btn">等待排期</a>
                                </div>
                            </li>
                            <li>
                                <div class="baseInfo">
                                    <a href="filminfo.html" class="img-box">
                                        <img src="__IMG__/pic/topfilm2.png" >
                                        <div class="tag zmax"></div>
                                    </a>
                                    <h3><a href="filminfo.html">博物馆奇妙夜 2</a></h3>
                                    <p><i>片长：120分钟</i><i>今天上映15</i></p>
                                    <h4>我也想当这样的博物馆管理员！</h4>
                                    <ul>
                                        <li>导演：彼得·杰克逊 </li>
                                        <li>主演：马丁·弗瑞曼/理查德·阿米蒂奇/伊恩·麦克莱恩/本尼迪克特·康伯巴奇/卢克·伊万斯/奥兰多·布鲁姆</li>
                                        <li class="last">类型：奇幻,冒险,动作</li>
                                    </ul>
                                    <div class="showDate"><span>12-5</span><a>上映</a></div>
                                    <a class="selectSeat-btn">等待排期</a>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <div class="baseInfo">
                                    <a href="filminfo.html" class="img-box">
                                        <img src="__IMG__/pic/topfilm2.png" >
                                        <div class="tag 3d"></div>
                                    </a>
                                    <h3><a href="filminfo.html">博物馆奇妙夜 2</a></h3>
                                    <p><i>片长：120分钟</i><i>今天上映15</i></p>
                                    <h4>我也想当这样的博物馆管理员！</h4>
                                    <ul>
                                        <li>导演：彼得·杰克逊 </li>
                                        <li>主演：马丁·弗瑞曼/理查德·阿米蒂奇/伊恩·麦克莱恩/本尼迪克特·康伯巴奇/卢克·伊万斯/奥兰多·布鲁姆</li>
                                        <li class="last">类型：奇幻,冒险,动作</li>
                                    </ul>
                                    <div class="showDate"><span>12-5</span><a>上映</a></div>
                                    <a class="selectSeat-btn">等待排期</a>
                                </div>
                            </li>
                            <li>
                                <div class="baseInfo">
                                    <a href="filminfo.html" class="img-box">
                                        <img src="__IMG__/pic/topfilm2.png" >
                                        <div class="tag zmax"></div>
                                    </a>
                                    <h3><a href="filminfo.html">博物馆奇妙夜 2</a></h3>
                                    <p><i>片长：120分钟</i><i>今天上映15</i></p>
                                    <h4>我也想当这样的博物馆管理员！</h4>
                                    <ul>
                                        <li>导演：彼得·杰克逊 </li>
                                        <li>主演：马丁·弗瑞曼/理查德·阿米蒂奇/伊恩·麦克莱恩/本尼迪克特·康伯巴奇/卢克·伊万斯/奥兰多·布鲁姆</li>
                                        <li class="last">2015-11-27上映<span>预售</span></li>
                                    </ul>
                                    <div class="showDate"><span>12-5</span><a>上映</a></div>
                                    <a class="selectSeat-btn">等待排期</a>
                                </div>
                            </li>
                            <li>
                                <div class="baseInfo">
                                    <a href="filminfo.html" class="img-box">
                                        <img src="__IMG__/pic/topfilm2.png" >
                                        <div class="tag zmax"></div>
                                    </a>
                                    <h1><a href="filminfol">博物馆奇妙夜 2</a></h1>
                                    <p><i>片长：120分钟</i><i>今天上映15</i></p>
                                    <h4>我也想当这样的博物馆管理员！</h4>
                                    <ul>
                                        <li>导演：彼得·杰克逊 </li>
                                        <li>主演：马丁·弗瑞曼/理查德·阿米蒂奇/伊恩·麦克莱恩/本尼迪克特·康伯巴奇/卢克·伊万斯/奥兰多·布鲁姆</li>
                                        <li class="last">类型：奇幻,冒险,动作</li>
                                    </ul>
                                    <div class="showDate"><span>12-5</span><a>上映</a></div>
                                    <a class="selectSeat-btn">等待排期</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
             </div>
        </div>
    </div>

</block>

<block name="script">
    <script type="text/javascript">
        $(function(){
            //去掉列底线
            $('.film-con .bd> ul').each(function(){
                $(this).children('li').last().find('.baseInfo').css({'border-bottom':'none'});
            })
            //滑动
            jQuery(".slide-box").slide({ mainCell:".bd", effect:"left", delayTime:800,delayTime:400,pnLoop:false,easing:"easeOutCubic" });
        })

    </script>


</block>



