<!DOCTYPE html>
<html>
<head>
    {% include "template/meta.html" %}
    <title>91NS—美女视频</title>
    {% include "template/link.html" %}
    <link rel="stylesheet" type="text/css" href="{{static_url('activities.onedollar'|ns_css)}}">
</head>
<body>
<div class="wrap">
    {% include "template/header.html" %}
    <div class="wrapBd"></div>
    {% include "template/footer.html" %}
</div>
<script type="text/javascript" defer async data-main="{{static_url('activities.red'|ns_js)}}" src="{{static_url('tool/require'|ns_js)}}"></script>
</body>
</html>