<extend name='Public/base'/>
 
<block name='body'>

<!-- 主体内容 -->

<div id="main">
    <div class="container">
        <h2>中瑞国际影城三坊七巷店</h2>

        <p>地址：福州市台江区工业路100号红星美凯龙7楼</p>
        <form method="post" action="orderInfo.html">
            <div class="Procedures">
                <h3 class="step-1"><span>选择观影日期</span></h3>

                <div class="item required i-1">

                    <div class="radiolist">
                        <input type="radio" value="10月19日" name="1">
                        <label class="radio">10月19日</label>
                        <input type="radio" value="10月20日" name="1">
                        <label class="radio">10月20日</label>
                        <input type="radio" value="10月20日" name="1">
                        <label class="radio">10月20日</label>
                        <input type="radio" value="10月20日" name="1">
                        <label class="radio">10月20日</label>
                        <input type="radio" value="10月20日" name="1">
                        <label class="radio">10月20日</label>
                        <input type="radio" value="10月20日" name="1">
                        <label class="radio">10月20日</label>
                        <input type="radio" value="10月20日" name="1">
                        <label class="radio">10月20日</label>
                    </div>
                </div>

                <h3 class="step-2">
                    <span>选择主题影厅</span>
                    <p>（提示：包场购票数需达到座位数的50%以上）</p>
                </h3>
                <div class="item required i-2">

                    <div class="radiolist">
                        <input type="radio" value="小黄人主题包厢" name="2">
                        <label class="radio">
                            <div class="theme-block">
                                <div class="num">1</div>
                                <h4>小黄人主题包厢</h4>
                                <p class="seat" >座位：<span>72</span></p>
                                <p class="cinema">影厅：中瑞影城三坊七巷店</p>
                                <div class="mark"><img src="images/mark.png"></div>
                            </div>
                        </label>
                        <input type="radio" value="小黄人主题包厢" name="2">
                        <label class="radio">
                            <div class="theme-block">
                                <div class="num">1</div>
                                <h4>小黄人主题包厢</h4>
                                <p class="seat" >座位：<span>66</span></p>
                                <p class="cinema">影厅：中瑞影城三坊七巷店</p>
                                <div class="mark"><img src="images/mark.png"></div>
                            </div>
                        </label>
                        <input type="radio" value="小黄人主题包厢" name="2">
                        <label class="radio">
                            <div class="theme-block">
                                <div class="num">1</div>
                                <h4>小黄人主题包厢</h4>
                                <p class="seat" >座位：<span>55</span></p>
                                <p class="cinema">影厅：中瑞影城三坊七巷店</p>
                                <div class="mark"><img src="images/mark.png"></div>
                            </div>
                        </label>
                        <input type="radio" value="小黄人主题包厢" name="2">
                        <label class="radio">
                            <div class="theme-block">
                                <div class="num">1</div>
                                <h4>小黄人主题包厢</h4>
                                <p class="seat">座位：<span>60</span></p>
                                <p class="cinema">影厅：中瑞影城三坊七巷店</p>
                                <div class="mark"><img src="images/mark.png"></div>
                            </div>
                        </label>
                    </div>


                </div>
                <!--选择观影时间-->
                <h3 class="step-3">
                    <span>选择观看影片</span>
                </h3>
                <div class="item required i-3">
                    <div class="radiolist">
                        <input type="radio" value="10:00" name="3">
                        <label class="radio">10:00</label>
                        <input type="radio" value="10:00" name="3">
                        <label class="radio">10:00</label>
                        <input type="radio" value="10:00" name="3">
                        <label class="radio">10:00</label>
                        <input type="radio" value="10:00" name="3">
                        <label class="radio">10:00</label>
                        <input type="radio" value="10:00" name="3">
                        <label class="radio">10:00</label>
                        <input type="radio" value="10:00" name="3">
                        <label class="radio">10:00</label>
                        <input type="radio" value="10:00" name="3">
                        <label class="radio">10:00</label>
                    </div>
                </div>
                <!--/选择观影时间-->

                <!--选择观看影片-->
                <h3 class="step-4">
                    <span>选择观看影片</span>
                </h3>
                <div class="item required i-4">
                    <div class="radiolist">
                        <input type="radio" value="" name="4">
                        <label class="radio">
                            <div class="img-box">
                                <img src="images/film1.png">
                            </div>
                            <h4>九层妖塔</h4>
                            <p>主演：刘德华</p>
                            <p>片长：120分钟</p>
                            <p class="unitPrice">40</p>
                        </label>
                        <input type="radio" value="" name="4">
                        <label class="radio">
                            <div class="img-box">
                                <img src="images/film1.png">
                            </div>
                            <h4>九层妖塔</h4>
                            <p>主演：刘德华</p>
                            <p>片长：120分钟</p>
                            <p class="unitPrice">50</p>
                        </label>
                        <input type="radio" value="" name="4">
                        <label class="radio">
                            <div class="img-box">
                                <img src="images/film1.png">
                            </div>
                            <h4>九层妖塔</h4>
                            <p>主演：刘德华</p>
                            <p  >片长：120分钟</p>
                            <p class="unitPrice">60</p>
                        </label>
                        <input type="radio" value="" name="4">
                        <label class="radio">
                            <div class="img-box">
                                <img src="images/film1.png">
                            </div>
                            <h4>九层妖塔</h4>
                            <p>主演：刘德华</p>
                            <p>片长：120分钟</p>
                            <p class="unitPrice">70</p>
                        </label>
                        <input type="radio" value="" name="4">
                        <label class="radio">
                            <div class="img-box">
                                <img src="images/film1.png">
                            </div>
                            <h4>九层妖塔</h4>
                            <p>主演：刘德华</p>
                            <p  >片长：120分钟</p>
                            <p class="unitPrice">80</p>
                        </label>
                        <input type="radio" value="" name="4">
                        <label class="radio">
                            <div class="img-box">
                                <img src="images/film1.png">
                            </div>
                            <h4>九层妖塔</h4>
                            <p>主演：刘德华</p>
                            <p>片长：120分钟</p>
                            <p class="unitPrice">90</p>
                        </label>
                    </div>

                </div>
                <!--/选择观看影片-->

                <!--填写购买票数-->
                <h3 class="step-5">
                    <span> 填写购买票数</span>
                </h3>
                <div class="item required i-5">
                    <div class="radiolist">
                        <input type="radio" value="全厅购买" name="5" id="buyAll">
                        <label class="radio">全厅购买</label>
                        <input type="radio" value="输入其他数量" name="5">
                        <label class="radio num">
                            <input type="text" placeholder="输入其他数量"/>
                        </label>
                    </div>
                </div>
                <!--/填写购买票数-->

                <!--是否需要附加服务-->
                <h3 class="step-6">
                    是否需要附加服务
                </h3>
                <div class="item i-6">
                    <div class="radiolist">
                        <input type="radio" value="10:00" name="6">
                        <label class="radio" id="service">是</label>
                        <input type="radio" value="10:00" name="6">
                        <label class="radio" id="no-service">否</label>
                    </div>

                </div>
                <div class="service-section">
                    <div class="service-block">
                        <div class="chklist">
                            <input type="checkbox" value='1' /><label><em>提供麦克风</em><span>￥<i>30</i></span></label>
                            <input type="checkbox" value='2' /><label><em>提供麦克风</em><span>￥<i>30</i></span></label>
                            <input type="checkbox" value='3' /><label><em>提供麦克风</em><span>￥<i>30</i></span></label>
                            <input type="checkbox" value='4' /><label><em>提供麦克风</em><span>￥<i>30</i></span></label>
                        </div>
                        <input type="text" placeholder="告诉我，你的其他需求，我们将尽力为您服务！">
                    </div>
                </div>




                <!--/是否需要附加服务-->

                <!--是否需要附加服务-->
                <h3 class="step-7">
                    是否需要附加服务
                </h3>
                <div class="item i-7">
                    <div>

                        <label>
                            <div class="package">
                                <div class="img-box">
                                    <img src="images/d1.png">
                                </div>
                                <h4>单人套餐</h4>
                                <p><span>￥<i class="price">25</i></span><a> 30 </a></p>
                                <p class="psca">一份大可+一份摇爆+一份甜品</p>
                                <p class="hint">购买饮品数量达到购票数享票价优惠</p>
                            </div>
                            <div class="Spinner">
                                <a class="leftBtn"><i>-</i></a>
                                <input type="text">
                                <a class="rightBtn"><i>+</i></a>
                            </div>
                        </label>

                        <label>
                            <div class="package">
                                <div class="img-box">
                                    <img src="images/d1.png">
                                </div>
                                <h4>单人套餐</h4>
                                <p><span>￥<i class="price">25</i></span><a> 30 </a></p>
                                <p class="psca">一份大可+一份摇爆+一份甜品</p>
                                <p class="hint">购买饮品数量达到购票数享票价优惠</p>
                            </div>
                            <div class="Spinner">
                                <a class="leftBtn"><i>-</i></a>
                                <input type="text">
                                <a class="rightBtn"><i>+</i></a>
                            </div>
                        </label>

                        <label>
                            <div class="package">
                                <div class="img-box">
                                    <img src="images/d1.png">
                                </div>
                                <h4>单人套餐</h4>
                                <p><span>￥<i class="price">25</i></span><a> 30 </a></p>
                                <p class="psca">一份大可+一份摇爆+一份甜品</p>
                                <p class="hint">购买饮品数量达到购票数享票价优惠</p>
                            </div>
                            <div class="Spinner">
                                <a class="leftBtn"><i>-</i></a>
                                <input type="text">
                                <a class="rightBtn"><i>+</i></a>
                            </div>
                        </label>
                    </div>
                </div>
                <!--/是否需要附加服务-->

            </div>
            <div class="submit-block">
                <span>总计：￥<i>0</i></span>
                <a>完成预定</a>
            </div>
        </form>

    </div>
</div>

<!--/ 主体内容-->

</block>
<block name='script'>
<script type="text/javascript">
    $(function(){

        //加减
        $(".Spinner").Spinner({value:0, min:0, len:2, max:99});

        //单选框美化
        $.fn.radio = function(options) {
            var self = this;
            return $('label', this).each(function() {
                $(this).addClass('radio');
                if ($(this).prev().is("checked")) $(this).addClass('radioChecked');
            }).click(function(event) {
                $(this).siblings().removeClass("radioChecked");
                if (!$(this).prev().is(':checked')) {
                    $(this).addClass("radioChecked");
                    $(this).prev()[0].checked = true;
                }
                event.stopPropagation();
            }).prev().hide();
        };
        //复选框美化
        $.fn.hcheckbox=function(options){
            $(':checkbox+label',this).each(function(){
                $(this).addClass('checkbox');
                if($(this).prev().is(':disabled')==false){
                    if($(this).prev().is(':checked'))
                        $(this).addClass("checked");
                }else{
                    $(this).addClass('disabled');
                }
            }).click(function(event){
                        if(!$(this).prev().is(':checked')){
                            $(this).addClass("checked");
                            $(this).prev()[0].checked = true;
                        }
                        else{
                            $(this).removeClass('checked');
                            $(this).prev()[0].checked = false;
                        }
                        event.stopPropagation();
                    }
            ).prev().hide();
        };

        $('.radiolist').radio();
        $('.chklist').hcheckbox();


        //直接选择观影时间时提示
        $('.i-3 label').on('click',function(){

            !$('.i-1 input').is(':checked')&&layer.alert('请先选择观影日期');

        });
        //直接填写购买个数时提示
        $('.i-5 label').on('click',function(){
            $(this).children().removeAttr('disabled');
            !$('.i-2 input').is(':checked')&&layer.alert('请先选择主题影厅') && $(this).children().attr('disabled','ture');

        });


        //选取影厅后 ，对应的选择座位个数的控制
        inputN = $('.num input');
        $(inputN).keyup(function(){
            $(inputN).val(parseInt($(inputN).val().replace(/[^\d]/g,'')||0)); //输入英文 强制显示0
        })

        /*   $('.theme-block').click(function(){
         var num = parseInt($(this).find('.seat span').text()),
         inputN = $('.num input');

         $(inputN).attr('num',num);


         });*/

        //填写购买个数时小提示
        $('.i-5 .num').on('click', function(){

            var num = parseInt($(inputN).attr('num'))/2||'',
                    tipp = '包场购票数需达到座位数的50%以上(大于'+num+')';
            $('.i-2 input').is(':checked')&&layer.tips(tipp, '.i-5 .num');

        });

        $('.i-5 #buyAll').on('click', function(){

            var num = parseInt($(inputN).attr('num'))||'',
                    tipp = '包场购票数需达到座位数的50%以上(大于'+num+')';
            $('.i-2 input').is(':checked')&&layer.tips(tipp, '.i-5 .num');

        });

        //购买附加服务弹窗显示及操作
        $('#service').on('click',function(){

            layer.open({
                type: 1,
                skin: 'service-theme',
                title:'购买附加服务',
                area: ['450px', ''],
                shadeClose: true, //点击遮罩关闭
                content: '\<\div id="item-service">\<\/div>',
                btn: ['确认'],
                yes: function(index){

                    getCostAll();
                    $('#item-service>div').prependTo($('.service-section'));

                    layer.close(index); //一般设定yes回调，必须进行手工关闭

                },

                cancel:function(index){
                    $('#item-service>div').prependTo($('.service-section'))
                }


            });

            $('.service-section>div').prependTo($('#item-service')).show();

        });

        //提交验证提示
        $('.submit-block a').click(function(){
            var checkedNum =$('.item input[type="radio"]:checked').length;
            checkedNum >= 5 && $('form').submit();
            $('.item').each(function(){
                var text = $(this).prev().find('span').text();
                if(!$(this).find('input').is(':checked')){
                    layer.alert('请'+text);
                    return false;
                }
            });

        });

        //填写购买个数后费用总变动显示

        //输入其他个数
        $('.i-5 label.num input').keyup(function(){
            getCostAll();
        });

        //选择全数购买
        $('.i-5 label').eq(0).on('click',function(){
            getCostAll();
        });
        //避免用户点完个数后，又回去改主题或改电影活选否服务造成价格显示错误
        $('.i-4 label,#no-service').on('click',function(){

            getCostAll();
        });
        //避免用户先选购买票数再影片继而选主题时服务造成价格显示错误
        $('.i-2 label').on('click',function(){
            var cc =  parseInt($('.i-2 input:checked').next().find('.seat span').text());
            getCostAll();
        });

        //选择购买附加零后总费用变动显示

        $('.i-7 .Spinner a').click(function(){
            getCostAll();
        });

        //选择购买零食后总费用变动
        function getCost1 (){
            var origin = 0; //获取初始价格
            var	allPrice = origin;


            for(i=0;i < $('.Spinner input').length;i++){

                var num = $('.Spinner input').eq(i).val(),
                        univalence = $('.Spinner input').eq(i).parent().siblings('.package').find('.price').text(),
                        itemPrice  = num*univalence;
                allPrice += itemPrice;
                console.log(num)
            }
            var  cost1 = allPrice;
            return cost1;
        }

        //填写购买个数后总费用变动
        function getCost2(){
            var cc;
            var unitprice = parseInt($('.i-4 input:checked').next().find('.unitPrice').text()); //影片单价
            var seat = parseInt($('.i-2 input:checked').next().find('.seat span').text())||cc; //座位数 cc用于座位未选时先点击其他的后再选座位造成时出现的异常
            var buyNum = parseInt($('.i-5 .num input').val()); //购买个数
            var cost2 = 0;//总计
            console.log(seat);
            if($('.i-5 input:checked').length != 0){

                if($('.i-5 input:checked').index() ==0){
                    cost2 = parseInt(unitprice*seat)
                }else{
                    cost2 = parseInt(unitprice*buyNum)
                }

            }
            return cost2;
        }

        //选择购买附加服务总费用变动
        function getCost3(){

            var a =	$('.service-block .chklist input:checked'); //服务列选中情况
            var allPrice = 0;
            var cost3;
            for(i=0;i < a.length;i++){
                var itemPrice = parseInt(a.eq(i).next('label').find('i').text());
                allPrice += itemPrice;

            }
            if($('#service').prev().is(':checked')){
                cost3 = allPrice
            }else{
                cost3 = 0
            }


            return cost3;
        }

        //总费用计算、显示

        function getCostAll() {

            var cost1 = getCost1(),
                    cost2 = getCost2()|| 0,
                    cost3 =  getCost3()|| 0,
                    allCost = cost1 + cost2 + cost3;

            $('.submit-block>span>i').text(allCost);
        }

        //只要一ajax就清空价格显示 移除相关checked
    })
</script>
</block>