<extend name='Public/bookbase'/>
<block name='title'>支付</block>
<block name='navbar'>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link" onclick='window.location.href="index"' >
                    <i class="icon icon-back"></i><span></span></a>
            </div>
            <div class="center sliding">支付</div>
        </div>
    </div>
</block>
<block name='body'>
    <div class="pages">
        <div data-page="" class="page">
            <div class="main" id="page-paymentSuccess">
                <div class="state-section fail">
                    <div class="bgBox">支付失败</div>
                </div>
            </div>
        </div>
    </div>
</block>
