@charset "utf-8";
#preview{
	border:1px solid #666;
	}
#preview1{
	border:1px solid #666;
	}
.goods .inputText{
	margin:5px 0;
	}
.seatList{
	line-height:50px;
	}
.seatList span{
	font-size:14px;
	color:#f60;
	margin-left: 5px;
	display: inline-block;
}
.cover span{
	line-height:30px;
	font-size:16px;
	color: #8994a9;
	
}
.seatList span em {
    background: url(../images/x_alt.png) no-repeat 0 0;
    background-size: 100%;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    display: inline-block;
    cursor: pointer;
    line-height: 20px;
}

.seatInfo span{
	display: inline-block;
	padding: 3px;
}