<!DOCTYPE html>
<html>
<head>
    {% include "template/meta.html" %}
    <title>91NS—美女视频</title>
    {% include "template/link.html" %}
    <link rel="stylesheet" type="text/css" href="{{static_url('mobile/activities.monkey'|ns_css)}}"/>
</head>
<body>
    {% include "template/header.html" %}
    <img src="{{static_url('')}}web/cssimg/mobile/activities/monkey/1.jpg" width="100%">
    <img src="{{static_url('')}}web/cssimg/mobile/activities/monkey/2.jpg" width="100%">
    <div class="monkeyMain">
        <ul class="self">
            <li><i class="bg_r"></i><span class="self_name">（您）</span><i class="bg_r"></i></li>
            <li>
                <div class="half">
                    <div>派发红包</div>
                    <div class="times_send">&nbsp;</div>
                </div>
                <div class="half">
                    <div>收到红包</div>
                    <div class="times_get">&nbsp;</div>
                </div>
                <i class="clearfix"></i>
            </li>
            <li><i class="bg_r"></i>&nbsp;<i class="bg_r"></i></li>
        </ul>
        <div class="rankList">
            <ul id="sendList">
                <li>派发红包 （次数）</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <i class="bg_r"></i>
                <i class="bg_r"></i>
                <i class="bg_r"></i>
                <i class="bg_r"></i>
            </ul>
            <ul id="getList">
                <li>收到红包 （次数）</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <li class="clearfix">&nbsp;</li>
                <i class="bg_r"></i>
                <i class="bg_r"></i>
                <i class="bg_r"></i>
                <i class="bg_r"></i>
            </ul>
            <i class="clearfix"></i>
        </div>
    </div>
    <img src="{{static_url('')}}web/cssimg/mobile/activities/monkey/3.jpg" width="100%">
    <img src="{{static_url('')}}web/cssimg/mobile/activities/monkey/4.jpg" width="100%">
	<script type="text/javascript" data-main="{{static_url('mobile/m/activities.monkey'|ns_js)}}" src="{{static_url('mobile/tool/require'|ns_js)}}"></script>
</body>
</html>