<extend name='Public/base'/>
<block name='title'>微信购票</block>

 
<block name='navbar'>
  <div class="navbar">
    <div class="navbar-inner">
    	<div class="left"><a href="http://weixin.zrfilm.com" class="external link"> <i class="icon icon-back"></i><span></span></a></div>
      	<div class="center sliding">中瑞农行购票</div>
    </div>
  </div>
</block>
<block name='body'>

<div data-page="indexIndex" class="page" style="padding-top:44px; overflow:scroll;">
             <div class="swiper">
                <div class="index-swiper-container">
                  <div class="swiper-wrapper">
                    <volist name='banners' id='vo'>
                    <div class="swiper-slide"> <a href="{$vo['url']}" class="external"> <img src="__UPLOAD__/{$vo['img']}" height="100%" width="100%"></a> </div>
                    </volist>
                  </div>
                </div>
                <div class="pagination"></div>
            </div>
             <div class="homeLink">
              <div class="linkLeft">
                  <a href="{:U('plan',array('op'=>'plan'))}"><img src="__IMG__/common/1.jpg" width="100%" /></a>
                </div>
                <div class="linkRight">
                  
                  <a href="{:U('bank/buying')}"><img src="__IMG__/common/3.jpg" width="100%" /></a>
                </div><a style="margin-top:5px; display:block;" href="{:U('User/user', array('op' => 'login'))}"><img src="__IMG__/common/2.jpg" width="99%" /></a>
             </div>
             <div class="">
              <a href=""><img src="__UPLOAD__/{$ad['img']}" width="100%" height="120" /></a>
             </div>
            </div>
</block>
<block name='script'>
<script type="text/javascript">
    var w=$(document).width();
		$('.index-swiper-container').height(w*0.33);
		 var indexSwiper = myApp.swiper('.index-swiper-container'/*, {
			pagination:'.pagination',
			loop:true,
			grabCursor: true,
			paginationClickable: true
		  }*/);

	</script>
  </block>