<div class="footer">
    <div class="footer w1000m500">
        <!-- <ul class="clearfix">
            <li class="first active"><a href="/about/about">关于91NS</a></li>
            <li><a href="/about/job">高薪诚聘</a></li>
            <li><a href="/about/link">友情链接</a></li>
            <li><a href="/about/webmap">网站地图</a></li>
        </ul> -->
        <p>网络文化经营许可证：<a style="color:#979797;" href="http://www.miitbeian.gov.cn/" target="_blank">沪网文[2015]0711-161号</a>. Copyright © 2015-2018 91ns.com All Rights Reversed.</p>
    </div>
</div>