<extend name='Public/frombase'/>
<block name='body'>




<script src="__STATIC__/ueditorFull1.2.2/ueditor.config.js" type="text/javascript"></script>
<script src="__STATIC__/ueditorFull1.2.2/ueditor.all.min.js" type="text/javascript"></script>
<script src="__STATIC__/ueditorFull1.2.2/lang/zh-cn/zh-cn.js" type="text/javascript"></script>


<form method="post" action="{:U()}" class="dataform" id="dataform">
	<div class="formBox">

        <div class="inputSelect">
                    <span>影院分组：</span>
                    <select name="data[cinemaGroupId]" onchange="getVoucherName(this.value)">
                    <foreach name="cinemaGroup" item="vo" key="k" >
                        <option value="{$vo.id}" <if condition="$appAccountInfo['cinemaGroupId'] == $vo['id']"> selected="selected"</if>>{$vo.groupName}</option>
                    </foreach>
                     </select>
                </div>

        
        <div class="inputText" >
            <span>APP名称：</span>
            <input type="text" name="data[appName]"  placeholder="请输入APP名称" value="{$appAccountInfo.appName}">
        </div>

        <div class="inputText" >
            <span>APP帐号：</span>
            <input type="text" name="data[appAccount]"  placeholder="请输入APP帐号" value="{$appAccountInfo.appAccount}">
        </div>


        <div class="inputText" >
            <span>APP密码：</span>
            <input type="text" name="data[appPasswd]"  placeholder="请输入APP密码" value="{$appAccountInfo.appPasswd}">
        </div>

        

        <div class="inputText" >
            <span>安卓版本：</span>
            <input type="text" name="data[androidVersion]"  placeholder="请输入安卓版本号" value="{$appAccountInfo.androidVersion}">
        </div>

        <div class="inputText" >
            <span>安卓地址：</span>
            <input type="text" name="data[androidDown]"  placeholder="请输入安卓下载地址" value="{$appAccountInfo.androidDown}">
            <input type="checkbox" name="data[androidIsMust]"  value="1" <if condition="$appAccountInfo['androidIsMust'] == 1"> checked="checked"</if> id="way1" value="0"><label for="way1">强制</label>
        </div>

        <div class="inputText2" >
            <p>安卓更新说明：</p>

            <script type="text/plain" id="elm5" name="data[androidExplain]" style="width:400px;height:240px;">
                                            {:htmlspecialchars_decode($appAccountInfo['androidExplain'])}
                                        </script>

        </div>

        <div class="inputText" >
            <span>iOS版本：</span>
            <input type="text" name="data[androidVersion]"  placeholder="请输入iOS版本：" value="{$appAccountInfo.androidVersion}">
        </div>

        <div class="inputText" >
            <span>iOS地址：</span>
            <input type="text" name="data[iOSDown]"  placeholder="请输入iOS下载地址" value="{$appAccountInfo.iOSDown}">
            <input type="checkbox" name="data[iOSIsMust]"  value="1" <if condition="$appAccountInfo['iOSIsMust'] == 1"> checked="checked"</if> id="way2" value="0"><label for="way2">强制</label>
        </div>
        <div class="inputText2" >
            <p>iOS更新说明：</p>

            <script type="text/plain" id="elm4" name="data[iOSExplain]" style="width:400px;height:240px;">
                                            {:htmlspecialchars_decode($appAccountInfo['iOSExplain'])}
                                        </script>

        </div>



<input type="hidden" name="appId" value="{$appAccountInfo.appId}">

    </div>
	<div class="formBtn">
        <a href="javascript:ajaxSubmit()" class="button">确认</a>
         <a href="javascript:parent.layer.closeAll();" class="cancel">取消</a>
        
    </div>
</form>
<script type="text/javascript">

var ue = UE.getEditor('elm4', {
    toolbars: [
        ['source','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify','fontsize','bold','forecolor','link', 'unlink','insertunorderedlist', 'fullscreen',]
    ],
    autoHeightEnabled: false,
    autoFloatEnabled: false
});

var ue2 = UE.getEditor('elm5', {
    toolbars: [
        ['source','justifyleft', 'justifycenter', 'justifyright', 'justifyjustify','fontsize','bold','forecolor','link', 'unlink','insertunorderedlist', 'fullscreen',]
    ],
    // serverUrl:'{:U('addUpload')}',
    autoHeightEnabled: false,
    autoFloatEnabled: false
});

$('.date').datetimepicker({
	yearOffset:0,
	lang:'ch',
	timepicker:true,
	format:'Y-m-d H:i',
	formatDate:'Y-m-d H:i',
});

function getVoucherName (cinemaGroupId) {
    $.ajax({
        type:"post",  //提交方式  
            dataType:"json", //数据类型  
            url:"{:U('getVoucherName')}", //请求url 
            data:{'cinemaGroupId':cinemaGroupId},
            success:function(json){ 
                $("#voucherType").html('');
                $("#belongCinemaCode").html('');
                if (json.status == 1) {
                    
                    layer.alert(json.content);
                }else if(json.status == 0){
                    $.each(json.data.cinemaList, function(i,v){
                        $("#belongCinemaCode").append('<option value="'+v.cinemaCode+'">'+v.cinemaName+'</option>');
                    });

                    $.each(json.data.voucherTypeList, function(i,v){
                        $("#voucherType").append('<option value="'+v.typeId+'">'+v.typeName+'</option>');
                    });
                }
            },
            error:function(msg) {
                // alert(msg);
            }

    });
}

function showdiv (preId) {

    if (preId == 1) {
        $("#startNum").css('display', '');
        $("#voucherBit").css('display', 'none');

    }else{
        $("#startNum").css('display', 'none');
        $("#voucherBit").css('display', '');
    }
    
}

function ajaxSubmit () {
        // alert('1');
        $("#dataform").ajaxSubmit({  
            type:"post",  //提交方式  
            dataType:"json", //数据类型  
            url:"{:U()}", //请求url 
            success:function(json){ //提交成功的回调函数  
                if (json.status == 1) {
                    layer.alert(json.content);
                }else if(json.status == 0){


                    layer.confirm(json.content, {
                    btn: ['返回列表','<?php if(intval($cinemaInfo['cinemaCode']) == 0){echo '继续添加';}else{echo '继续修改';}?>'], //按钮
                    shade: false //不显示遮罩
                }, function(){
                    parent.location.reload();
                }, function(){
                    location.reload();
                });
                }


                // alert('11');
            }  
        });
    }

</script> 
</block>