<extend name='Public/frombase'/>
<block name='body'>
<form method="post" action="{:U()}" class="dataform" id="dataform">
       <div class="tableList">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <thead>
                  <tr >
                    <td width="40%">券码</td>
                    <td width="30%">使用状态</td>
                    <td width="30%">购票订单号</td>
                  </tr>
                </thead>
                 <tbody>
                 <foreach name="voucherList" item="vo">
                    <tr>
                        <td>{$vo.voucherInfo}</td>
                        <td>{$vo.status}</td>
                        <td>{$vo.orderCode}</td>
                    </tr>
                </foreach>
                </tbody>
            </table>
        </div>
</form>
</block>