<extend name='Public/base'/>
<block name='navbar'>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left"><a href="javascript:window.history.back()" class="external link"> <i class="icon icon-back"></i><span></span></a></div>
        <div class="center sliding">票券规则</div>
        <div class="right"></div>
      </div>
    </div>
</block>   
</head>
<block name='body'>

 <div data-page="voucherRule" class="page" >
 {:htmlspecialchars_decode($rule)}
	
  </div>
<script>
//登录方式切换
 var tabsSwiper = new Swiper('.swiper-container',{
    onlyExternal : true,
    speed:500
  })
  $(".tabs a").on('touchstart mousedown',function(e){
    e.preventDefault()
    $(".tabs .active").removeClass('active')
    $(this).addClass('active')
    tabsSwiper.swipeTo( $(this).index() )
  })
  $(".tabs a").click(function(e){
    e.preventDefault()
  })
</script>    
</block>
