<extend name='Public/base'/>

<block name='title'>乐购_卖品</block>

<block name='navbar'>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left"><a href="{:U('index/index')}" class="link"> <i class="icon icon-back"></i><span></span></a></div>
            <div class="center sliding">乐购_卖品</div>
            <div class="right"><a href="{:U('index/cinemalist',array('op'=>'goods'))}">{$cinema['shortName']}</a></div>
        </div>
    </div>
</block>

<block name='body'>

<div class="pages">
  <div data-page="goods" class="page" id="page-goods">
  <div style="display:none" id="confirmurl">{:U('user/confirmorder')}</div>
      <link rel="stylesheet" href="__CSS__/goods.css?{:time()}">
      <div class="content">
          <form>
              <div class="purchase-type">
                  <a class="goods actvie" href="{:U('index/goodslist')}">
                      <div>
                          <span>卖品</span>
                          <p>电影和爆米花更配哟</p>
                          <i></i>
                      </div>
                  </a>
                  <a class="group-purchase" href="{:U('index/roundlist')}">
                      <div>
                          <span>团购</span>
                          <p>限时不抢要后悔</p>
                          <i></i>
                      </div>
                  </a>
              </div>
              <div class="goods-section">
              <foreach name='goods' item='vo'>
                  <div class="goods-list">
                      <div class="images-box">
                          <img  src="{$vo['goodsImg']}">
                      </div>
                      <h4>{$vo['goodsName']}</h4>
                      <p>
                          <span class="current">￥{$vo['price']}</span>
                          <span class="original">￥{$vo['showPrice']}</span>
                      </p>
                      <input type="hidden" value="{$vo['id']}" class='goodsid'>
                      <div class="Spinner">
                          <a class="leftBtn"><i>-</i></a>
                          <input type="text">
                          <a class="rightBtn"><i>+</i></a>
                      </div>
                  </div>
                  </foreach>
              </div>
          </form>
      </div>
      <div class="price-info">
          <span>套餐合计：</span><a class="total">￥0</a><a class='confirm' href='javascript:;'>确认购买</a>

      </div>
  </div>
</div>

</block>
