<extend name="Public/base"/>
<block name='navbar'>
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="{:U('index/plan')}" class="link"> <i class="icon icon-back"></i><span></span></a></div>
    <div class="center sliding">选择座位</div>
    <div class="right"></div>
  </div>
</div>
</block>


<block name='body'>
<style type="text/css">
  #seatInfo{width: 100%;}
</style>
  <div data-page="seat" class="page" style="background:#5c5c5c;" id="seatPage">
    <div class="page-content"  style="overflow:hidden;">
    <div style="display:none" id="seaturl">{$url}</div>
      <foreach name="config" item="vo" key="k" >
        <div style="display:none" id="{$k}">{$vo}</div>
      </foreach>
      <div id="memberPrice" style="display:none">{$plan.memberPrice}</div>
      <foreach name='hallprice'  item='vo'  key="k">
      <div id="hall{$k}" style="display:none">{$vo}</div>
      </foreach>
      <div id="featureAppNo" style="display:none">{$plan.featureAppNo}</div>
      <div id="tflag" style="display:none">{$tflag}</div>

      <div class="seatBody" >
            <div class="seatTop">
              <div class="seatStyle"><em class="hasseat"></em><span>可选</span> <em class="yourseat"></em><span>已选</span><em class="sellseat"></em><span>已售</span> </div>
              <div class="screen"><p>{$plan['cinemaName']}{$plan['hallName']}荧幕</p></div>
            </div>
      <div class="seatMain" style=" position: relative;">     
        <div id="seatInfo" style="  position: absolute; "> 
                    <div id="scroller">
                        <div class="rowNum">
                            <ul>
                            <volist name='seatinfos["row"]' id='vo'>
                              <li><span>{$vo}</span></li>
                             </volist>
                            </ul>
                          </div>
                        <div class="ticketSeatcont">
                        <ul class="tnone" data-selector="seat_ul">
                        <volist name='seatinfos["seat"]' id='row'>
                          <li>
                          <volist name='row' id='col'>
                            <span id="{$col['SeatNo']}"  sectionId="{$col['sectionId']}"
                            <?php if(($col['SeatState']=='0')&&!empty($col['groupCode'])){ ?>gid="{$col['groupCode']}"<?php }?> 
                            class="<?php if($col['SeatState']=='0'){ ?>hasseat<?php }elseif($col=='1'){ ?>noseat<?php }else{ ?>sellseat<?php } ?>"
                              x="{$col['GraphCol']}" y="{$col['GraphRow']}" name="{$col['SeatRow']}排{$col['SeatCol']}座" type="{$col['sectionId']}"></span>
                          </volist>
                          </li>
                          </volist>
                        </ul>
                        </div>
                    </div>
                </div>
             </div>
          </div>
          <div class="clear"></div>
          <div class="seatInfo">
          <div class="seatLine">
            <div class="selectSeat"><span class="">待选座位</span> <span class="">待选座位</span> <span class="">待选座位</span> <span class="">待选座位</span></div><div class="clear"></div>
          </div> 
          <div class="seatSubmit">
              <p>{$plan['filmName']}</p>
              <span>{$plan['startTime']|date='n-j H:i',###}<a href="#" class="open-info" >（更换场次）</a></span>
        <a class="seatBtn with-animation" <?php if($tflag=='1'){ ?>disabled<?php } ?>>确认￥0.00</a>
              <div class="clear"></div>
            </div>
          </div>
          
   <!--更换场次-->
    <!--<div class="modal-overlay "></div>-->
<div class="picker-modal pickerInfo planPicker ">
	<div class="planPickerTop">
    	<h4>选择放映场次</h4>
    	<a href="#" class="closePicker"></a>
    </div>
    <div class="showPlan scroll">
    <volist name='otherplans' id='vo'>
        <a href="{:U('seat',array('featureAppNo'=>$vo['featureAppNo']))}" class="external">
        <ul>
            <li class="tal">
                <div class="ledTime">{$vo['start']}</div>
                <p>{$vo['end']}结束</p>
            </li>
            <li class="tac">
                <div  class="planStyle">{$vo['copyLanguage']}/{$vo['copyType']}</div>
                <p>{$vo['hallName']}</p>
            </li>
            <li class="tar">
                <div class="planPirce">￥{$vo['memberPrice']}</div>
                <p >￥{$vo['listingPrice']}</p>
            </li>
        </ul>
      </a>
    </volist>
    </div>
</div>
 <!-- Picker -->
    <div class="picker-modal picker-tip" style="height:150px;display: none">
    	
        <h4>场次提醒</h4>
        <p>{$plan['cinemaName']}：{$plan['week']}{$plan['startTime']|date='n-j H:i',###}</p>
        <a href="#" class="close-picker closeTip">我知道了</a>
    </div>       

    </div>
  </div>
      
  </block>
  <block name='script'>
<script>
var seat = $('#indexSeat').html();

myApp.pickerModal('.picker-tip');
var userIndent = $('#userIndent').html();
$('.selectSeat span').removeClass('cur');
var featureAppNo = $('#featureAppNo').html();

$(".seatBtn").click(function(){
    var tflag = parseInt($('#tflag').html());
    if( tflag == 1){
        myApp.alert("您的会员卡不适用该影院");
        return false;
    }

    if($('.selectSeat span.cur').length<=0){
        myApp.alert("请先选择座位");
        return false;
    }else{              
        var datas='';
        var featureAppNo= $("#featureAppNo").html();

        $('.selectSeat span.cur').each(function(){
            if(datas == ''){
                datas = $(this).attr('sid')+'.'+$(this).text();
            }else{
                datas += ',' + $(this).attr('sid')+'.'+$(this).text();
            }
            
        });
        var UID = $('#UID').html();
        var myurl=userIndent + "?featureAppNo=" + featureAppNo + "&datas="+datas.toString().replace(/#/g,'|');
        mainView.router.loadPage(myurl);
    }           
});




$$('.open-info').on('click', function () {
      myApp.pickerModal('.pickerInfo');
	  $$('.modal-overlay').addClass('modal-overlay-visible');
    });
    $$('.closePicker').on('click', function () {
      myApp.closeModal('.pickerInfo')
    }); 

var flag;
$('.hasseat,.yourseat').each(function(){
    $(this).bind('click',function(){
        if( $(this).hasClass('yourseat') ) {    
            if($(this).attr("gid")!=undefined){
                $('.ticketSeatcont span[gid='+$(this).attr("gid")+']').each(function(){
                    $(this).removeClass('yourseat');
                    $(this).addClass('hasseat');
                    $('.selectSeat span[sid="'  + $(this).attr('id') + '"]').remove();
                    $('.selectSeat').append('<span class="">待选座位</span>');
                });
            }else{
                $(this).removeClass('yourseat');
                $(this).addClass('hasseat');
                $('.selectSeat span[sid="'  + $(this).attr('id') + '"]').remove();
                $('.selectSeat').append('<span class="">待选座位</span>');
            }   
        }else{
        	flag=true;
        	$('.selectSeat span.cur').each(function(){
        		if($('.ticketSeatcont span[id='+$(this).attr('sid')+']').attr('sectionid')!=$(this).attr("sectionid")){
        			 myApp.alert('只能选择一种座区');
        			 flag= false;
        			 return false;
        		}
        	});
        	if(!flag){
        		return false;
        	}
            if($(this).attr("gid")!=undefined){
                if($('.selectSeat span.cur').length+$('.hasseat[gid='+$(this).attr("gid")+']').length < 5) {
                    $('.ticketSeatcont span[gid='+$(this).attr("gid")+']').each(function(){
                        $(this).removeClass('hasseat');
                        $(this).addClass('yourseat');
                        var selectedSeatObject = $('<span class="cur"  onClick="cancelSelec(this)"  sid="'+$(this).attr('id')+'" sectionid="'+$(this).attr('sectionid') +'">' + $(this).attr('name') +  '</span>');
                        var length=$('.selectSeat span.cur').length;
                        $('.selectSeat span').eq(length).replaceWith(selectedSeatObject);
                    });
                }else {
                     myApp.alert('最多只能选择4个座位');
                }                   
            }else{
                if($('.selectSeat span.cur').length< 4) {
                    $(this).removeClass('hasseat');
                    $(this).addClass('yourseat');                   
                    var selectedSeatObject = $('<span class="cur" onClick="cancelSelec(this)"  sid="'+$(this).attr('id')+'" sectionid="'+$(this).attr('sectionid') +'">' + $(this).attr('name') +  '</span>');
                    var length=$('.selectSeat span.cur').length;
                    $('.selectSeat span').eq(length).replaceWith(selectedSeatObject);
                }else {
                    myApp.alert('最多只能选择4个座位');
                }
            }
        }
        countTatol( $(this).attr("sectionId"));
    });
});

//价格计算
function countTatol(obj) {
	var s=0;
	if($('#hall'+obj).text()!=''){
		s=$('#hall'+obj).text();
	}
    var seatPrice =  $('.selectSeat span.cur').length * (parseFloat($('#memberPrice').text())+parseFloat(s));
    $(".seatBtn").html('确认￥'+seatPrice.toFixed(2));
}

//价格计算
function cancelSelec(obj) {
    var s=$('.ticketSeatcont span[id='+$(obj).attr('sid')+']');

    if(s.attr("gid")!=undefined){
        $('span[gid='+s.attr("gid")+']').each(function(){
            $('.selectSeat span.cur[sid='+$(this).attr('id')+']').remove(); 
            $(this).removeClass('yourseat');
            $(this).addClass('hasseat');
            $('.selectSeat').append('<span class="">待选座位</span>');
        });
    }else{
        s.removeClass('yourseat');
        s.addClass('hasseat');
        $('.selectSeat').append('<span class="">待选座位</span>');
        $(obj).remove();      
    }  
    countTatol();   
}



var myScroll = new IScroll('#seatInfo', {
    zoom: true,
    scrollX: true,
    scrollY: true,
    mouseWheel: true,
    wheelAction: 'zoom'
  });

$('#seatInfo').css('height', $('.seatMain').css('height'));
</script>
  </block>