<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>扫描二维码</title>

<style>
body{
  background:url(images/bg.jpg) no-repeat 0 0;
  background-size:cover;
  width:100%;
  }
.code{
	margin:40% auto 0;
	width:70%;
	}
</style>

</head>
<body>

	 <div class="code" >
           <img src="__IMG__/hx.png" width="100%" />
     </div>

</body>
</html>