<!DOCTYPE html>
<html>
<head lang="en">
{% include "template/about_link.html" %}
<link rel="stylesheet" type="text/css" href="{{static_url('about/index'|ns_css)}}"/>
</head>
<body class="clearfix">
{% include "template/about_header.html" %}
<div class="content about w1000m500">
    <i class="title"></i>
    <i class="hr"></i>
    <div class="content1 clearfix">
        <div class="left" style="padding-top:34px;">
            <p>
                厦门奈斯文化传媒有限公司旗下公司秀吧网络科技团队拥有深厚的各类型在线直播运营、推广经验；
                <br>
                具备多线发展的研发实力、严谨全面的技术保障能力；
                <br>
                并对互动娱乐产业的发展趋势、内容品质的把握、尤其是对用户的真正需求有着深刻的理解和认识，是一家具备复合发展潜力的新兴互联网企业。
            </p>
        </div>
        <div class="right"></div>
    </div>
    <div class="content2 clearfix">
        <div class="left" style="margin-top: 64px;"></div>
        <div class="right" style="padding-top: 30px;">
            <p>
                秀吧网络科技以“内容立本，服务兴业”为宗旨，以互联网为依托，凭借专业的技术与服务，致力于通过各种网络终端为用户提供多元化的内容、娱乐服务。
                <br>
                公司秉承以网络娱乐平台的构建为先导，通过专业化的团队及先进网络技术，最大限度为用户挖掘网络娱乐产业的乐趣。
                <br>
                公司以不断发现与满足用户的普遍娱乐需求，力争向用户提供多元化的、适合不同年龄层次用户群的互动娱乐产品。并致力于在研发上探求未来用户的需求，为向用户提供真正乐趣性的、不同于目前主流玩法的、有丰富文化内涵的文化内容娱乐服务进行大胆探索。
            </p>
        </div>
    </div>
    <div class="content3 clearfix" style="padding-top:44px;">
        <div class="left">
            <p>
                全力扶植新主播：
                </br>
                公司将为每位主播量身定制艺人式的培训及培养计划，打造本土明星特色；
                </br>
                提供商演和拍摄网络短剧的机会，提升主播曝光度；并提供底薪+抽成式的高薪报酬。
                </br>
                新主播签约，头两个月可享受平台无条件高额底薪支持，
                </br>
                且每位主播只需完成平台任务指标，即可额外获得平台奖金；
            </p>
        </div>
        <div class="right"></div>
    </div>
</div>
{% include "template/about_footer.html" %}
</body>
</html>
