<!DOCTYPE html>
<html>
<head lang="en">
{% include "template/about_link.html" %}
<link rel="stylesheet" type="text/css" href="{{static_url('about/index'|ns_css)}}"/>
<script type="text/javascript" defer="defer" async="true" data-main="{{static_url('about/job'|ns_js)}}" src="{{static_url('tool/require'|ns_js)}}"></script>
</head>
<body class="clearfix">
{% include "template/about_header.html" %}
<div class="content job w1000m500">
    <i class="title"></i>
    <i class="banner"></i>
    <i class="hr"></i>
    <div class="content clearfix">
    	<ul id="list" class="clearfix">
    		<li data="ui" class="active"><i></i>UI设计师</li>
    		<li data="php"><i></i>PHP工程师</li>
    		<li data="web"><i></i>前端工程师</li>
    		<li data="ios"><i></i>IOS开发工程师</li>
    		<li data="andriod"><i></i>Andriod 开发工程师</li>
    		<li data="planning"><i></i>产品策划</li>
    		<li data="seo"><i></i>SEM/SEO</li>
    		<li data="official"><i></i>文案策划</li>
    		<li data="as3"><i></i>AS3工程师</li>
    		<li data="operation"><i></i>运维工程师</li>
    		<li data="qa"><i></i>QA测试工程师</li>
    	</ul>
    	<div class="content clearfix">
    		<ul id="content" class="clearfix">
	    		<li class="ui active">
	    			<div class="title">UI设计师</div>
	    			<div class="msg">
	    				<span>招聘人数：1</span>
						<span>工作经验：1年以上</span>
						<span>工作性质：全职</span>
						<span>工作地点：福州</span>
					</div>
					<div class="duty">
						岗位职责：
						</br>
						1. 网站产品UI设计工作；
						</br>
						2. 负责网页设计和手机界面设计；
						</br>
						3. 制作相关内容所需的ICON图标。
					</div>
					<div class="should">
						任职资格：
						</br>
						1. 动画、美术、平面设计相关专业，有2D游戏UI类相关工作经验优先。
						</br>
						2. 良好的设计能力，色彩感、形式感强，思路开阔，创意丰富；
						</br>
						3. 精通各种常用网页设计工具，包括PHOTOSHOP、DREAMWEAVER、FLASH、Illustrator等；
						</br>
						4. 交互设计、工业设计、人因工程、工业心理学或平面设计相关专业优先；
						</br>
						5. 具有用户研究、可用性测试和评估技能者优先。
					</div>
	    		</li>
	    		<li class="php">
					<div class="title">PHP工程师</div>
					<div class="msg">
						<span>招聘人数：2</span>
						<span>工作经验：1年以上</span>
						<span>工作性质：全职</span>
						<span>工作地点：福州</span>
					</div>
					<div class="duty">
						岗位要求：
						</br>
						1. 负责网站新功能的开发，日常维护，撰写开发文档；
						</br>
						2. 参与数据库架构设计，保持数据库高效运行；
						</br>
						3. 根据访问量结构和用户思维习惯，改善网站的页面布局；
						</br>
						4. 建立完善的网站安全体系，保证网站正常运营和性能扩展。
					</div>
					<div class="should">
						任职资格：
						</br>
						1. 计算机或相关专业，本科以上学历，有1年以上相关工作经验；
						</br>
						2. 精通PHP+Apache/Nignx+Mysql编程环境；
						</br>
						3. 精通PHP5，对面向对象编程和设计模式有深入了解，熟悉ThinkPHP、PHALCON等开源框架；
						</br>
						4. 精通MySQL在PHP中的应用，包括基本查询，数据表优化，查询优化和DB cache引擎的配合；  
						</br>
						5. 了解HTML、JAVASCRIPT、AJAX、DIV+CSS等Web页面技术；  
						</br>
						6. 有千万记录级MySQL表的实战经验。
					</div>
	    		</li>
	    		<li class="web">
					<div class="title">前端工程师</div>
					<div class="msg">
						<span>招聘人数：2</span>
						<span>工作经验：2年以上</span>
						<span>工作性质：全职</span>
						<span>工作地点：福州</span>
					</div>
					<div class="duty">
						岗位职责：
						</br>
						1. 负责公司核心产品的前端代码开发、页面重构以及基于产品交互设计的逻辑处理；   
						</br>
						2. 完成脚本通用类库、框架、UI控件的编写，并形成文档；
						</br>
						3. 优化、维护、扩展现有的代码，参与一定数量的前端样式布局和交互设计。
					</div>
					<div class="should">
						任职资格：
						</br>
						1. 机算机或相关专业，本科及以上学历，2年以上网站设计开发相关工作经验；  
						</br>
						3. 了解Web设计的原则和制作方法，对OOP有一定的认识；
						</br>
						4. 熟悉HTML、JAVASCRIPT、AJAX、DIV+CSS等Web页面技术；
						</br>
						5. 熟悉Jquery框架，熟悉对象化Javascript编程；
						</br>
						6. 使用过AngularJS/Knockout/Backbone/Ember等优先考虑。
					</div>
	    		</li>
	    		<li class="ios">
					<div class="title">IOS开发工程师</div>
					<div class="msg">
						<span>招聘人数：2</span>
						<span>工作经验：1年以上</span>
						<span>工作性质：全职</span>
						<span>工作地点：福州</span>
					</div>

					<div class="duty">
						岗位职责：
						</br>
						开发和维护公司 ios 平台应用。
					</div>

					<div class="should">
						任职要求：
						</br>
						1. 拥有1年以上iOS平台开发经验，具有丰富的UI开发经验；
						</br>
						2. 熟悉IPhone SDK底层API调用、IOS体系结构，了解常用framework以及开源库；
						</br>
						3. 具备Objective C、C/C++语言基础；
						</br>
						4. 熟悉iOS客户端应用的性能优化、内存优化、安全和动画框架；
						</br>
						5. 有多个完整iOS应用项目上架经验者优先；
						</br>
						6. 善于与人沟通，良好的团队合作精神和高度的责任感，能够承受压力，有较强的吃苦耐劳和创新精神。
					</div>
	    		</li>
	    		<li class="andriod">
					<div class="title">开发工程师</div>
					<div class="msg">
						<span>招聘人数：1</span>
						<span>工作经验：1年以上</span>
						<span>工作性质：全职</span>
						<span>工作地点：福州</span>
					</div>

					<div class="duty">
						岗位职责：
						</br>
						1. 负责Android平台的浏览器开发；
						</br>
						2. 在Android手机上设计并开发应用程序或游戏；
						</br>
						3. Android平台框架层的维护以及扩展；
						</br>
						4. 负责Android项目的架构设计、方案的制定；
						</br>
						5. 跟进Android的新技术发展，纂写设计开发及实现文档；
						</br>
						6. 根据产品功能需求设计并完成软件实现；
						</br>
						7. 参与产品需求分析并制定技术实施方案。
					</div>

					<div class="should">
						任职要求：
						</br>
						1. 精通Android开发平台及框架，Android GUI程序开发，一年以上移动终端应用软件开发经验；
						</br>
						2. 熟悉多线程、Socket或ACE等网络通信编程技术；
						</br>
						3. 熟悉移动终端特性和开发特点和移动终端网络编程，了解3G\WiFi等技术； 
						</br>
						4. 熟悉C++/C#, MSSQL/MySQL数据库开发；
						</br>
						5. 熟悉J2ME编程和Linux环境编程的优先，1年以上J2ME开发经验。
					</div>
	    		</li>
	    		<li class="planning">
					<div class="title">产品策划</div>
					<div class="msg">
						<span>招聘人数：1</span>
						<span>工作经验：2年以上</span>
						<span>工作性质：全职</span>
						<span>工作地点：福州</span>
					</div>

					<div class="duty">
						岗位职责：
						</br>
						1. 负责产品的调研、分析，提出产品创新需求，持续对产品实施升级优化，监控规划设计至测试发布的全过程；
						</br>
						2. 与研发人员对接，确保产品准确按照需求进行研发；
						</br>
						3. 与相关部门及企业及时沟通、协调技术等，推动产品的研发与运维；
						</br>
						4. 根据用户需求，分析市场动态和趋势，进行产品优化迭代。
					</div>

					<div class="should">
						任职资格：
						</br>
						1. 计算机相关专业，大专以上学历；
						</br>
						2. 思维开阔、灵活，对新生事物敏感，有创造性，学习能力、协作能力、表达沟通能力优秀，有互联网从业经验的优先；
						</br>
						3、具备良好的产品策划与设计能力、创新能力、沟通表达能力、组织协调能力和一颗准备创业的心；
					</div>
	    		</li>
	    		<li class="seo">
					<div class="title">SEO</div>
					<div class="msg">
						<span>招聘人数：2</span>
						<span>工作经验：1年以上</span>
						<span>工作性质：全职</span>
						<span>工作地点：福州</span>
					</div>

					<div class="duty">
						任职要求：
						</br>
						1. 跟踪、研究百度(主要)、360(次要)、Google的排名机制和优化原则；
						</br>
						2. 分析网站及各频道的关键词解决方案，监控网站关键字， 监控和研究竞争对手及其他网站相关做法，并围绕优化提出合理的 网站调整建议；
						</br>
						3. 负责网站SEO推广、SEM方案分析、网站的各种流量推广方案的执行与跟踪，撰写网站SEO操作文档，主要针对百度、360进行优化，以及外部链接的建设；
						</br>
						4. 监测百度收录和排名，按阶段汇报优化、监控结果；
						</br>
						5. 和第三方网站进行流量、数据、反向链接或服务交换，战略合作联盟，增加网站的流量和知名度。
					</div>

					<div class="should">
						职位描述：
						</br>
						1. 熟练掌握百度和360的搜索排名原理和SEO优化技术；
						</br>
						2. 熟练使用网站优化工具和流量分析工具，能分析关键词的搜索数据；
						</br>
						3. 有相关网站seo经验者优先，有优化案例者首选。
					</div>
	    		</li>
	    		<li class="official">
					<div class="title">文案策划</div>
					<div class="msg">
						<span>招聘人数：2</span>
						<span>工作经验：3年以上</span>
						<span>工作性质：全职</span>
						<span>工作地点：福州</span>
					</div>

					<div class="duty">
						任职要求：
						</br>
						1. 负责产品的文案和措辞等，侧重于产品描述的文字表达；
						</br>
						2. 负责产品卖点的挖掘和提炼，撰写产品软性广告文案、产品介绍资料等；
						</br>
						3. 负责线上活动和专题的策划，协助部门负责人，提供有竞争力和个性化的广告策划案。
					</div>

					<div class="should">
						职位描述：
						</br>
						1. 电子商务、中文、新闻、广告等相关专业等毕业者优先，文字功底扎实；
						</br>
						2. 了解电子商务、网络营销方面知识，逻辑思维清晰，具备较强的策划能力；
						</br>
						3. 有优秀的文字功底，具备优秀的文案编辑、组织、整理和撰写的能力;
						</br>
						3. 热爱文案策划工作,有创意的激情，具有敏锐的市场洞察力、独特的视角，新颖、开阔的创意思维，生动的表达、说服能力。
						</br>
						4. 有互联网工作经验者优先。 
					</div>
	    		</li>
	    		<li class="as3">
					<div class="title">AS3工程师</div>
					<div class="msg">
						<span>招聘人数：1</span>
						<span>工作经验：1年以上</span>
						<span>工作性质：全职</span>
						<span>工作地点：福州</span>
					</div>

					<div class="duty">
						任职要求：
						</br>
						1. 1年以上Flash、 ActionScript3项目开发经验；
						</br>
						2. 熟悉ActionScript3编码，能用熟练使用AS3开发Flash组件或模块；
						</br>
						3. 熟悉ActionScript3 UI界面开发或者ActionScript3 与后台Server之间的通讯与交互(比如Socket)；
						</br>
						4. 有过多人合作项目的开发，负责过一些模块的设计和编写；
						</br>
						5. 拥有良好的编码风格和面向对象的编程思想，熟悉设计模式。
					</div>

					<div class="should">
						职位描述：
						</br>
						1. 沟通表达能力较好，心态端正，责任心强，有良好的团队合作精神;
						</br>
						2. 工作积极主动，能吃苦耐劳，抗压能力强;
						</br>
						3. 具有网页游戏开发经验者优先。
					</div>
	    		</li>
	    		<li class="operation">
					<div class="title">运维工程师</div>
					<div class="msg">
						<span>招聘人数：2</span>
						<span>工作经验：1年以上</span>
						<span>工作性质：全职</span>
						<span>工作地点：福州</span>
					</div>

					<div class="duty">
						任职要求：
						</br>
						1. 负责基于Linux平台的系统运维，监控，调优等工作； 
						</br>
						2. 进行应急故障和事件处理，进行网络规划和容灾部署，确保网络可用性；
						</br>
						3. 设计、开发工具或系统实现自动化管理，提升运维效率和系统稳定性；
						</br>
						4. 解决应用系统运维过程中的技术问题，制定运维风险清单和应急方案以及优化方案。
					</div>

					<div class="should">
						职位描述：
						</br>
						1. 熟悉Linux系统的安装，管理以及优化、有网络管理及相关网络工作经验； 
						</br>
						2. 熟悉Linux服务器网络、安全和Web环境规划、配置及调优工作；
						</br>
						3. 熟悉Apache、Nginx，能对主流数据库MySQL、MongoDB、Redis进行安装、配置、调优；
						</br>
						4. 熟悉存储的基本原理和维护，了解高性能计算环境的搭建和维护。
					</div>
	    		</li>
	    		<li class="qa">
					<div class="title">QA测试工程师</div>
					<div class="msg">
						<span>招聘人数：1</span>
						<span>工作经验：1年以上</span>
						<span>工作性质：全职</span>
						<span>工作地点：福州</span>
					</div>

					<div class="duty">
						任职要求：
						</br>
						1. 根据需求制定并执行测试计划，包括编写测试用例，执行测试，分析结果，撰写报告等；
						</br>
						2. 网站、产品日常维护的测试；
						</br>
						3. 验证和修正测试中发现的问题；
						</br>
						4. 积极采取各种措施，确保项目、产品的成功测试及上线部署，改善测试效率。
					</div>

					<div class="should">
						职位描述：
						</br>
						1. 熟悉互联网，熟悉Web，熟悉手机端APP；
						</br>
						2. 熟悉SQL语言，能熟练操作至少一种主流数据库；
						</br>
						3. 能熟练使用常用的测试工具（自动化/半自动化），如：Selenium、LoadRunner，撰写自动化脚本。
					</div>
	    		</li>
    		</ul>
    	</div>
    </div>
</div>
{% include "template/about_footer.html" %}
</body>
</html>
