<!DOCTYPE html>
<html>
<head lang="en">
{% include "template/about_link.html" %}
<link rel="stylesheet" type="text/css" href="{{static_url('about/index'|ns_css)}}"/>
</head>
<body class="clearfix">
{% include "template/about_header.html" %}
<div class="content partner w1000m500">
    <i class="title"></i>
    <i class="hr"></i>
    <div class="content">
    	<ul class="clearfix">
    		<li class="li1">
    			<div class="avatar"></div>
    			<div class="hr"></div>
    			<div class="msg">
    				<div class="left">BD秀场合作：</div>
    				<div class="right name">陈先生</div>
    			</div>
    			<div class="msg">
    				<div class="left">QQ：</div>
    				<div class="right">438559282</div>
    			</div>
    			<div class="msg">
    				<div class="left">邮箱：</div>
    				<div class="right">438559282@qq.com</div>
    			</div>
    		</li>
    		<li class="li2">
    			<div class="avatar"></div>
    			<div class="hr"></div>
    			<div class="msg">
    				<div class="left">主播招募：</div>
    				<div class="right name">郑先生</div>
    			</div>
    			<div class="msg">
    				<div class="left">QQ：</div>
    				<div class="right">9480138</div>
    			</div>
    			<div class="msg">
    				<div class="left">邮箱：</div>
    				<div class="right">9480138@qq.com</div>
    			</div>
    		</li>
    		<!-- <li class="li3">
    			<div class="avatar"></div>
    			<div class="hr"></div>
    			<div class="msg">
    				<div class="left">平台运营：</div>
    				<div class="right name">陈先生</div>
    			</div>
    			<div class="msg">
    				<div class="left">QQ：</div>
    				<div class="right">494147573</div>
    			</div>
    			<div class="msg">
    				<div class="left">邮箱：</div>
    				<div class="right">494147573@qq.com</div>
    			</div>
    		</li> -->
    	</ul>
    </div>
</div>
{% include "template/about_footer.html" %}
</body>
</html>
