<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> 
        <a href="#" class="tip-bottom" data-original-title="Go to Home"><i class="icon-home"></i> 首页</a> 
        <a href="#" class="tip-bottom" data-original-title="">配置管理</a> 
        <a href="#" class="current">VIP配置</a> 
    </div>
    
   <!--  <h1>Tables</h1> -->
  </div>
  <div class="container-fluid">
   <!--  <hr> -->
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">
            <button id="btnAdd" class="btn btn-success pull-right">添&nbsp;加</button>
        </div>
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>VIP列表</h5>
          </div>
          <div class="widget-content nopadding">
            <table id="dataList" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>VIP等级</th>
                  <th>最低经验(人民币)</th>                 
                  <th>最高经验(人民币)</th>
                  <th>VIP赠送座驾</th>
                  <th>描述</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row-fluid">
            <div id="pagination" class="pagination alternate pull-right">
            </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="dialog-form" title="Create new user" style=" display: none;">
  <p class="validateTips"></p>

   <form id="submitform" action="#" method="get" class="form-horizontal">           
      <div class="control-group">
        <label class="control-label">vip等级 :</label>
        <div class="controls">
          <input name="level" id="level" type="text" class="span11" placeholder="">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">最低经验(人民币) :</label>
        <div class="controls">
          <input name="lower" id="lower" type="text" class="span11" placeholder="">
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label">最高经验(人民币) :</label>
        <div class="controls">
          <input name="higher" id="higher" type="text" class="span11" placeholder="">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">VIP赠送座驾 :</label>
        <div class="controls">
          <input name="carId" id="carId" type="text" class="span11">
          <span class="help-block"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">描述 :</label>
        <div class="controls">
          <textarea name="description" id="description" class="span11"></textarea>
        </div>
      </div>
       <div class="control-group">
           <label class="control-label">特权  :</label>
           <div class="controls">
               {% for vip in rightlist|default([]) %}
               <input type="checkbox" name="rightList" value="{{vip['id']}}" id="rightlist_{{vip['id']}}"> {{vip['name']}}
               {% endfor %}
           </div>
       </div>

    </form>

</div>

<script type="text/javascript">
  
$(function(){
    getDataList()
});


/**
* 初始化为空
*/
function Initialization(){

  var submitform=document.getElementById('submitform');
    
    submitform.level.value='';
    submitform.lower.value='';
    submitform.higher.value='';
    submitform.carId.value='';
    submitform.description.value='';
    $("[name='rightList']:checked").removeAttr('checked');
}

//add vip data
var btnadd=document.getElementById('btnAdd');
utils.addEvent(btnadd,'click',addData); 
var str = '';
function addData(){
  $( "#dialog-form" ).dialog({
        width: 600,
        title:'添加VIP信息',
        modal:true,
        closeOnEscape:true,
        resizable:false,
        open:function(res){
          Initialization();
        },
        buttons:{
          "添加":function(){
            var str = '';
            var submitform=document.getElementById('submitform'),
            data={};

            data.action="add";
            data.level=submitform.level.value;
            data.lower=submitform.lower.value;
            data.higher=submitform.higher.value;
            data.carId=submitform.carId.value;
            data.description=submitform.description.value;
              $("[name='rightList']:checked").each(function(){
                  if(str == ''){
                      str = $(this).val();
                  }else{
                      str += ',' + $(this).val();
                  }

              })

              data.rightList=str;
            $.ajax({
              type:"post",
              url:"/configmgr/updateVip",
              data:data,
              dataType:'json',
              success:function(res){
                if(res.code==0){
                  getDataList();
                  $("#dialog-form" ).dialog("close");
                }else{
                  alert(res.info);
                }
              }
            });

          },
          "取消":function(){
            $(this).dialog("close");
          }

        }
      });
      
}

function getDataList(index){
  var data={};
  data.page=index||0;
  data.numPerPage=pagesize;
  $.ajax({
    type:"post",
    url:"/configmgr/getVip",
    data:data,
    dataType:'json',   
    success:function(res){
      
      var data=res.data;
      var table=document.getElementById("dataList");
      var tbody= table.getElementsByTagName('tbody')[0];

      dataTable.clearData(tbody);
      
      for(var i=0;i<data.list.length;i++){
        addRow(tbody,'',data.list[i]);
      }
      
      if(!index||index==0){
        initPagination(data.count);
      }

    }
  });
}

function initPagination(page) {
  $("#pagination").pagination(page, {
      callback: pageselectCallback,
      items_per_page:pagesize, // 每页只显示一条记录
      num_display_entries : 3,
      num_edge_entries : 1, 
      prev_text : "上一页",  
      next_text : "下一页"
  });
}

function pageselectCallback(page_index, jq){
    getDataList(page_index);
    return false;
}

function addRow(table,index,data){
  var row=table.insertRow();
  var cell=row.insertCell(0);
  var cell1=row.insertCell(1);
  var cell2=row.insertCell(2);
  var cell3=row.insertCell(3);
  var cell4=row.insertCell(4);
  var cell5=row.insertCell(5);
  
  cell.innerHTML=data.level;
  cell1.innerHTML=data.lower;
  cell2.innerHTML=data.higher;
  cell3.innerHTML=data.carId;
  cell4.innerHTML=data.description;

  var deit=document.createElement("a"),
  del=document.createElement("a");
  
  deit.innerHTML='编辑';
  deit.className="table-edit";
  deit.data=data.id;
  utils.addEvent(deit,'click',dataEdit);

  del.innerHTML='删除';
  del.data=data.id; 
  utils.addEvent(del,'click',dataDelete); 

  cell5.appendChild(deit);
  cell5.appendChild(del);
    
  return row;
}


//vip data edit
function dataEdit(){

  var btn=this;  
  
 $( "#dialog-form" ).dialog({
      width: 600,
      title:'修改VIP信息',
      modal:true,
      closeOnEscape:true,
      resizable:false,
      open:function(){
        var data={};
        data.action='';

        Initialization();

        $.ajax({
          type:"post",
          data:data,
          url:"/configmgr/updateVip/"+btn.data,
          dataType:'json',
          success:function(res){
            var data= res.data;
            var rightlistArr = new Array();
            var submitform=document.getElementById('submitform');
            
            submitform.level.value=data.level;
            submitform.lower.value=data.lower;
            submitform.higher.value=data.higher;
            submitform.carId.value=data.carId;
            submitform.description.value=data.description;
              var rightlist = data.rightlist;
              if(rightlist){
                  rightlistArr = rightlist.split(',');
              }

              if(rightlistArr){
                  for(i in rightlistArr){
                      $('#rightlist_' + rightlistArr[i]).attr('checked', 'true');
                  }
              }
          }
        });
      },
      buttons:{
        "修改":function(){
          var str = '';
          var submitform=document.getElementById('submitform'),
          data={};

          data.action="update";
          data.level=submitform.level.value;
          data.lower=submitform.lower.value;
          data.higher=submitform.higher.value;
          data.carId=submitform.carId.value;
          data.description=submitform.description.value;
            $("[name='rightList']:checked").each(function(){
                if(str == ''){
                    str = $(this).val();
                }else{
                    str += ',' + $(this).val();
                }

            })

            data.rightlist=str;
          $.ajax({
            type:"post",
            url:"/configmgr/updateVip/"+btn.data,
            data:data,
            dataType:'json',
            success:function(res){
              if(res.code==0){
                getDataList();
                $("#dialog-form" ).dialog("close");
              }else{
                alert(res.info);
              }
            }
          });
          
        },
        "取消":function(){
          $(this).dialog("close");
        }

      }
 });

}

//vip data delete
function dataDelete(){
  if(confirm("确定要删除该数据吗？")){
    var btn=this,
    data={};
    data.action="del";
    
    $.ajax({
      type: "post",
      data: data,
      dataType: 'json',
      url: '/configmgr/updateVip/'+btn.data,
      success: function(res){

        if(res.code==0){
          getDataList();
         //dataTable.delTableRow(btn);
        }else{
          alert(res.info);
        }
        
      }
    });
  }
}
  
</script>

